<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:rsf="http://ponder.org.uk/rsf">
<head>
<script type="text/javascript" rsf:id="scr=portal-matter" language="JavaScript" src="/library/js/headscripts.js"></script>
<link href="/library/skin/tool_base.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
<link href="/library/skin/default/tool.css" rsf:id="scr=portal-matter" type="text/css" rel="stylesheet" media="all" />
<link rel="stylesheet" href="../css/DevolvedAdminTool.css" type="text/css"/>
<title>Managed Sites</title>
</head>
<body>
<div class="portletBody">

<ul>
	<li rsf:id="siteList:">
		<h3>Site:
			<a href="#" rsf:id="link" target="_top">Site</a>
		</h3>
		<h5 class="contact">
			<a href="mailto:test@example.com" rsf:id="contactLink">Some User</a>
			<span rsf:id="contactName">Some User</span>
		</h5>
		<div class="description" rsf:id="shortDescription">This is my site and here is some info</div>		
	</li>
</ul>

</div>
</body>
</html>
