<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" >
    <body>
        <wicket:panel>
            <form wicket:id="manageParticipantForm" class="manageParticipantForm" name="customizeForm">
                <div class="act">
                    <input accesskey="u" wicket:id="btnUpdateParticipants1" class="active" type="submit"/>
                    <input accesskey="c" wicket:id="btnCancel1" type="submit" wicket:message="value:participantlist.cancel"/>
                </div>
                <div wicket:id="tableContainer">
                    <div class="instruction"><em wicket:id="lastUpdateDateTop">[Last updated MMM dd,yyyy hh:mmAM EDT]</em></div>
                    <hr/>
                    <span wicket:id="checkboxGroup">
                        <table wicket:id="siteMembers" class ="listHier lines nolines" cellspacing="0">[Participant List table]</table>
                    </span>
                    <div class="instruction"><em wicket:id="lastUpdateDateBottom">[Last updated MMM dd,yyyy hh:mmAM EDT]</em></div>
                </div>
                <div class="act">
                    <input accesskey="u" wicket:id="btnUpdateParticipants2" class="active" type="submit"/>
                    <input accesskey="c" wicket:id="btnCancel2" type="submit"  wicket:message="value:participantlist.cancel"/>
                </div>
            </form>
        </wicket:panel>
    </body>
</html>
