.#{$namespace}joinpage
{
	position: fixed;
	width: 100%;
	min-height: 14em;
	
	.join
	{
		margin: 5em auto;
	}
	.logo{
		background: $primary-color url($logo) no-repeat center center;
		width: 100%;
		height: 64px;
		margin: 0 auto;
		overflow: hidden;
		@include border-radius( 0px );
	}
	.join td.logo
	{
		width: 175px;
		height: 120px;
		padding: 20px 0;
		background: #fff url(images/logo.png) no-repeat;
		background-position:center;
	}
	.join .form
	{
		padding:1em;
		background-color:#fff;
	}
	.join th
	{
		background: $primary-color;
		border: 1px solid $primary-color;
		color:#fff;
		padding: .5em;
		text-align: center;
	}
	.join td
	{
		text-align: center;
	}
	.join {
		border: 1px solid $primary-color;
		border-collapse: collapse;
	}
}

body.#{$namespace}joinpage		
{
	// to override body.Mrphs-portalBody
	background-color:#eee;
}

