.#{$namespace}multipleTools{
	.#{$namespace}toolTitleNav
	{
		position: relative;
		top: 0;			// OWLTODO: to overwrite the "minus top" below
		background-color: $tool-menu-background-color;
		border-bottom: 1px solid $tool-sub-menu-border-color;
		
		.#{$namespace}toolTitleNav__title
		{
			display: inline-block;
			color: $tool-nav-link-color;
			font-size: 1em;
			font-weight: 400;
			letter-spacing: 0.5px;
			margin: 0px $standard-padding;
			position: relative;
			width: calc(100% - 90px);
			z-index: 21;
			a{
				color: rgba(21,21,21,0.5);
				font-weight: 400;
				margin-right: 0.25em;
			}
		}
	}

}

.#{$namespace}toolTitleNav
{
	position: absolute;
	top: -2.5em;				// OWLTODO: is there a better way to do this? Lessons is different too
	right: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0;
	padding: 0;
	
	@media #{$phone}
	{
		top: 0;					// OWLTODO: fix this too to reflect 10 lines above this
	}
		
	.#{$namespace}toolTitleNav__title{
		display: none;
		& ~ .#{$namespace}toolTitleNav__button_container > .#{$namespace}directUrl__dropDown{
			display: none;
			.dropDown_close{
				color: #952525;
				cursor: pointer;
				float: right;
				@media #{$phone}{
					font-size: 1.4em;
				}
			}
			&.active{
				padding: 0.8em;
				position:   absolute;
				display:    block;
				background: #FFF;
				width: 250px;
  				margin: 10px 0 0 -250px;
  				z-index: 2;
				box-shadow: 0 0 5px 0 rgba(0,0,0,0.5);
				label{
					font-size: $default-font-size;
					margin: 5px 0 0px 5px;
					vertical-align: middle;
				}
				textarea{
					display: block;
					height: 120px;
					margin: 0.5em 0 0 0;
					width: 98%;
				}
				@media #{$phone}{
					margin: -1px 0 0px -214px;
				}
			}
		}
	}
	.#{$namespace}toolTitleNav__button_container{
		float: right;
		display: flex;
		align-items: center;
		position: relative;
		margin: 0;
		z-index: 1;
		@media #{$tablet}{
			left: 0.35em;
			//font-size: 1.5em; OWLTODO: needed?
			margin: 0px 0 0px 0;
			top: -4px;
			z-index: 1;
		}
	}
	.#{$namespace}toolTitleNav__link
	{
		display: flex;
		align-items: center;
		margin: $standard-padding $standard-padding $standard-padding 0;
		padding: $standard-padding;
		border: 1px solid #e0e0e0;
		border-radius: 3px;
		background: $tool-tab-background-color;
		color: $tool-nav-link-color;
		text-decoration :none;
		
		&:hover{
			background: $tool-background-color;
			color: $swapped-view-text-color;
			text-decoration: none;
		}
		@media #{$tablet}
		{
			// OWLTODO:
		}
		&--directurl{
			@extend .fa;
			@extend .fa-link;
			//@extend .fa-lg;
			/*position: absolute;
			right: #{$icon-size * 1.5};*/
		}
		&--help-popup{
			@extend .fa;
			@extend .fa-question;
			//@extend .fa-lg;
			/*position: absolute;
			right: 0;*/
		}
		&--edit{
			@extend .fa;
			@extend .fa-pencil;
			//@extend .fa-lg;	
			/*position: absolute;
			right: #{$icon-size * 3};*/
		}
		&--reset{
			@extend .fa;
			@extend .fa-share;
			//@extend .fa-lg;	
			display: none;
			font-size: 0.9em;
			float: left;
		}
		.#{$namespace}itemTitle
		{
			margin-left: $standard-padding;
			font-family: $font-family;
			font-size: $smaller-font-size;
			@media #{$tablet}{
				display: none;
			}
		}
	}

}

.#{$namespace}toolBody{
	background: $tool-background-color;
	iframe{
		margin: 0 0 0 0;
		width: 100%;
	}
}

.portletBody{
	background: $tool-background-color;
	padding: $default-font-size;

	> * 
	{
		position: relative;
		top: -2px;
	}
	
	.page-header 	// to override Bootstrap inheritance
	{
		margin: 1em 0;
		padding: 0;
		border: 0 solid;
	}
}

.itemNav{
	float: right;
	vertical-align: bottom;
	text-align: right;
	line-height: 2em;
	clear: both;
	margin: 1em 0em 0.5em 0;
	white-space: nowrap;
	a{
		white-space: nowrap;
	}
	@media #{$phone}{
		text-align: center;
		white-space: normal;
		input[type="text"], input[type="button"], input[type="reset"], input[type="submit"],button {
			margin: 0.25em 0.1em 0.25em 0;
		}
	}

}

.validationEmbedded,.validation{
	@extend .bs-callout-primary;
}

.alertMessage{
	@extend .bs-callout-danger;
}
