.navIntraTool{
	margin: -14px -14px 0 -14px;  		// OWLTODO: find a better way to accomplish this
	background: $tool-background-color;
	border-bottom: 1px solid $tool-border-color;
	padding: 0 125px 0 1em;

	&:after{
		content: " ";
		display: block;
		width: 100%;
	}
	li{
		display: inline-block;
		margin: 0 0 0 0;
		span
		{
			display: inline;
		
			> a
			{
				position: relative;
				display: block;
				margin: 0;
				padding: 6px 10px;
				border-top: 1px solid $tool-tab-border-color;
				border-left: 1px solid $tool-tab-border-color;
				border-right: 1px solid $tool-tab-border-color;
				background: $tool-tab-background-color;
				font-size: $smaller-font-size;
				color: $tool-nav-link-color;
				text-decoration: none;
				
				&:hover, &:active
				{
					background-color: #eee;
					color: $tool-nav-active-link-color;
					text-decoration: none;
					
					&:before
					{
						content: "";
						display: inline-block;
						position: absolute;
						top: -1px;
						right: -1px;
						left: -1px;
						border-top: 4px solid #424242;
					}
				}
			}
			&.current
			{
				position: relative;
				top: 1px;
				display: block;
				margin: 2px 0 0 0;
				padding: 7px 10px 6px 10px;
				border-top: 1px solid $tool-tab-current-border-color;
				border-left: 1px solid $tool-tab-current-border-color;
				border-right: 1px solid $tool-tab-current-border-color;
				background: $tool-tab-current-background-color;
				font-size: $smaller-font-size;
				color: $tool-nav-current-link-color;
				
				&:before
				{
					content: "";
					display: inline-block;
					position: absolute;
					top: -1px;
					right: -1px;
					left: -1px;
					border-top: 4px solid $tool-nav-current-link-color;
				}
				a{
					background: transparent;
				    border: 0px none;
				    font-size: 1em;
				    margin: 0 0 0 0;
				    padding: 0 0 0 0;
					
					&:before
					{
						content: "";
						display: inline-block;
						position: absolute;
						top: -1px;
						right: -1px;
						left: -1px;
						border-top: 4px solid transparent;
					}
				}
			}
			&.inactive{
				border-left: 0px none;
			}
		}
		a{
			
			&.current{
			}
		}
		.searchField{
			
		}
	}
}

.instructionMessage{
	@include bs-callout($instruction-color, $instruction-background-color);
}

.listNav{
	margin: 1em 0;
	.inlineForm{
		display: inline-block;
		@media #{$phone}{
			display: table-cell;
			padding: 0.1em !important;
			&[name="pagesizeForm"]{
				text-align: center;
			}
			select{
				width: 100%;
			}
			input[type="submit"]{
				margin: 0 0 0 0;
				&[disabled="disabled"]{
					display: none;
				}
			}
		}
		legend{
			display: none;
		}
		
		fieldset{
			display:inline-block;
		}
	}
}

.viewNav{

}

.navPanel {
	.floatLeft {
		float: left;
		padding: 1em;
	}

	.floatRight {
		float: right;
	}
}
