.#{$namespace}sakai-samigo{
	.samigo-inline-form {
		td {
			label{
				display: inline;
				margin: 0 0 0 0.3em;
			}
		}
	}

	legend.samigo-legend {
		margin-bottom: 1em;
		font-size: 1.2em;
		font-weight: normal;
		color: inherit;
	}

	#samigo-create-new-box, #samigo-create-import-box {
		margin-bottom: $standard-spacing;
		padding: $standard-spacing;
		border: 1px solid #e5e5e5;
		background: #fafafa;
		
		h2 {
			margin: 0 0 15px 0; 	// to match the .form-group's spacing
		}
		
		label, input[type="radio"] {
			margin-right: $standard-space;
		}
		
		& > .form-group:last-of-type {
			margin-bottom: 0;
		}
	}

	#samigo-create-or-box {
		margin: $standard-spacing 0;		// give it space on the bottom for column layout
		font-size: 20px;		// to match h2 default size
		line-height: 1.05;
		text-align: center;
	}

	.samigo-question-callout {
			border-left: 5px solid $tool-border-color;
			margin: 2em 0;
			padding: 1.5em 2.5em 1.5em 1.5em;
			input[type="checkbox"], input[type="radio"] {
				margin-right: 0.25em;
			}
			label {
				font-weight: normal;
			}
	}

	.listNav {
		.inlineForm {
			@extend .panel;
			@extend .panel-default;
			.pager-instruction {
				@extend .panel-heading;
				@extend .small;
				text-align: center;
			}
			display: inline-block;
			fieldset {
				display: inline-block;
			}
			legend {
				display: none;
			}
		}
	}

	.samigo-inline-radio {
		label {
			margin-right: 1em;
		}
	}
	
	.samigo-checkbox {
		label {
			margin: 0 0 0 $standard-space;
		}
	}

	.samigo-radio {
		label {
			margin: 0 0 0 $standard-space;
		}
	}
	
	.matrixSurvey{
		padding: 0 1em 0 1em;
	}
	
	.feedBackCheck, .feedBackCross, .feedBackNone{
		min-width: 20px;
		margin-right: 0.2em;
	}
	
	.feedBackNone{
		visibility: hidden;
	}
	
	.feedBackCheck{
		color: $ok-color;
	}
	
	.feedBackCross{
		color: $error-color;
	}
	
	.feedBackMultipleChoice{
		width: 2em;
	}
	
	.disabledField{
		color: $error-color;
		text-decoration: line-through;
	}

	#assessmentSettingsAction,#itemForm{
		ul{
			list-style: none;
			padding: 0 0 0 0;
		}
	}
	.mcscFixUp > ul,.question-wrapper{
		list-style: none;
		padding: 0 0 0 0;
	}

	#itemForm\:partialCredit_toggle.tier3,
	#itemForm\:mcms_credit_toggle.tier3,
	#itemForm\:discountDiv.tier3{
		margin-left: 3em  !important;
	}

	.divContainer {
		clear: right;
	}

	.divLeft {
		margin-top: 0.5em;
	}

	.divRight{
		text-align: right;
		@media #{$phone}{
			text-align: left;
		}
	}
	
	#itemForm\:discountDiv #itemForm\:answerdsc{
		margin-left: 10px;
		width: 45px;
		@media #{$phone}{
			margin-left: 0px;
		}
	}
	
	.indent1{
		margin-left: 2em;
	}
	
	//This is for jsf labels and checkboxes	
	#itemForm\:chooseAnswerTypeForMC input[type="radio"]{
		@media #{$phone}{
			float:left;
			& + label {
				overflow:auto;
				display:block;
			}
		}
	}
	
	#assessmentSettingsAction .layout-navigation input[type="radio"]{
		@media #{$nonPhone}{
			float:left;
			& + label {
				overflow:auto;
				display:block;
				margin-left: 1.5em;
			}
		}
	}
	
	#assessmentSettingsAction input[type="radio"],
	#assessmentSettingsAction input[type="checkbox"]{
		@media #{$tablet}{
			float:left;
			& + label {
				overflow:auto;
				display:block;
			}
		}
	}

	#assessmentSettingsAction input#assessmentSettingsAction\:selTimeAssess {
		float: none;
	}
	
	#assessmentSettingsAction input[type="checkbox"]{
		@media #{$tablet}{
			& + label {
			margin-left: 1.5em;
			}
		}
	}

	table{
	   	td{
	   		input[type="checkbox"],input[type="radio"]{
	   			margin-right: $standard-space;
	   		}
	   	}
	   	&.listHier td:empty{
   			padding: 0;
   		}
	}
	
	#samLiteEntryForm\:data{
		margin-top: 1.2em;
	}
	
	#templateCreateForm{
		label[for="templateCreateForm:tempName"]{
			margin-right: 1em;
		}
	}
	
	.toolTipLink{
		color: $link-color;
		background-color: $link-background-color;
		text-decoration: underline;
		cursor: pointer;
		&:hover{
			color: $link-hover-color;
			background-color: $link-hover-background-color;
			text-decoration:underline;
		}
	}

	.extendedTimeDataTable {
		margin-bottom: .5em;

		select {
			max-width: 150px;
		}

		thead tr th {
			border-bottom: 1px solid black;
		}

		tr {
			border-bottom: 1px solid lightgrey;
		}

		.extendedTime-user, .extendedTime-group {
			max-width: 160px;
		}

		.extendedTime-mins {
			min-width: 70px;
		}
	}
	
	.navIntraTool.actionToolbar {
		margin-bottom: $standard-spacing;
	}

	.ui-autocomplete-input {
		@extend .form-control;

		width: initial;
		max-width: initial;
		display: inline-block;
	}

	.ui-corner-right {
		height: 34px;
		margin-top: -3px;
		margin-left: -3px;
	}

	.dataTables_wrapper {
		.table {
			margin-bottom: $standard-spacing;
		}
		.dataTables_length {
			label {
				display: inline-block;
				margin-bottom: 0;
				font-weight: normal;
			}
		}

		.dataTables_filter {
			input {
				display: inline-block;
				margin-left: $standard-space;
				font-weight: normal;
			}
		}


		.dataTables_paginate {
			.paginate_button {
				@include sakai_secondary_button();

				&.current {
					border-color: $button-active-border-color;
				}
			}

			.ellipsis {
				margin-right: 10px;
			}
		}
	}

	.dataTable {
		thead {
			.sorting_asc, .sorting_desc {
				a {
					position: relative;
					margin-right: 11px;

					&::after {
						content: " ";
						width: 11px;
						height: 11px;
						position: absolute;
						bottom: 2px;
						right: -14px;
					}
				}
			}

			.sorting_asc {
				a::after {
					background: url(/library/image/sakai/sortascending.gif?panel=Main);
				}
			}

			.sorting_desc {
				a::after {
					background: url(/library/image/sakai/sortdescending.gif?panel=Main);
				}
			}
		}
	}
	@media #{$desktop} {
		#authorIndexForm .samigo-mainPage-filters {
			margin-bottom: -1em;	// to align the Sakai filter with the DataTables filters
		}
	}
	
	.samigo-dataTable-footer {
		display: flex;
		justify-content: flex-end;
		margin-top: -2.5em;		// to align the Sakai footer with the DataTables footer
	}

	#{'#authorIndexForm\\:remove-selected'} {
		@include sakai_primary_button()
	}

	.parts-table {
		label.notbold {
			font-weight: normal;
		}
	}

	.timerTableColumn {
		text-align: center
	}

	.timerTableColumnLeft {
		text-align: left
	}

	.matrixTable {
		border-style: dotted;
		border-width: 1px;
		border-color: lightgrey;
	}

	#delivAssessmentWrapper {
		width: 96%;
		float: left;
	}

	.downloanQuestionCheckbox label {
		display: none;
	}
	
	#editTotalResults .apply-grades {
		margin: $standard-spacing 0;
	}
	.rationaleContainer {
		display: block;
		margin-top: 2em;
	}
}
