[submodule "externals/ezproxy"]
	path = externals/ezproxy
	url = https://github.com/Western-OWL/EZProxy
[submodule "externals/turnitin"]
	path = externals/turnitin
	url = https://github.com/Western-OWL/turnitin
[submodule "turnitin"]
	branch = owl
