# Binary files 
*.jpg  binary -delta
*.png  binary -delta
*.gif  binary -delta
*.gz   binary -delta
*.bz2  binary -delta
*.swf  binary -delta
*.zip  binary -delta
*.pdf  binary -delta
# This is so that on Windows the shell scripts don't have thier
# line endings changed.
*.sh    eol=lf
