.idea
.project
.classpath
.settings
*.iml
*.swp
*.orig
*.rej
target
sakai-demo.tar.gz
sakai-demo.zip
.directory
.sass-cache
.metadata
.DS_Store
*nb-configuration.xml
docker/sakai/webauth-keytab
docker/sakai/ssl-private.key
docker/sakai/ssl-public.crt
docker/sakai/ssl-chain.crt
docker/sakai/sakai-keytab
velocity.log
docker/sakai/shibboleth/sp-cert.pem
docker/sakai/shibboleth/sp-key.pem
docker/sakai/.env