<BR>
 A formal course evaluation has been posted under Assignments, Tests, and Surveys in your Etudes course.
<BR><BR>
 This is a formal course evaluation, administered by your college. Your feedback is very important to your college, as they strive to offer high-quality courses and programs. Please take a few minutes of your time to complete it.
<BR><BR>
 date.info
<BR><BR>
 - Please be assured that the results are strictly anonymous, secure, and confidential.
<BR> - Your instructor cannot access your responses.
<BR> - The anonymous results will be emailed to the campus representative responsible for the evaluation.
<BR><BR>
 Thank you for participating in this course evaluation process.