@font-face {
  font-family: 'pasystem-icons';
  src:url('../fonts/pasystem-icons.eot?-wa2nby');
  src:url('../fonts/pasystem-icons.eot?#iefix-wa2nby') format('embedded-opentype'),
    url('../fonts/pasystem-icons.woff?-wa2nby') format('woff'),
    url('../fonts/pasystem-icons.ttf?-wa2nby') format('truetype'),
    url('../fonts/pasystem-icons.svg?-wa2nby#pasystem-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.pasystem-banner-alert {
  background-color: #f7e084;
  color: #000;
  padding: 10px 0;
  position: relative;
  border-bottom: 1px solid rgba(165, 138, 29, 0.1);
}

.pasystem-banner-alert-message {
  display: inline-block;
  width: 92%;
}

.pasystem-banner-alert::before {
  font-family: 'pasystem-icons';
  float: left;
  margin: 0 10px;
  font-size: 20px;
  line-height: 24px;
}
.pasystem-banner-alert,
.pasystem-banner-alert.pasystem-banner-medium {
  background-color: #f7e084;
}
.pasystem-banner-alert::before,
.pasystem-banner-alert.pasystem-banner-medium::before {
  content: '\f071';
  color: #a9860c;
}
.pasystem-banner-alert.pasystem-banner-high {
  background-color: #f1d3d3;
}
.pasystem-banner-alert.pasystem-banner-high::before {
  content: '\f06a';
  color: #b30e0a;
}
.pasystem-banner-alert.pasystem-banner-timezone,
.pasystem-banner-alert.pasystem-banner-low {
  background-color: #c7e4f4;
}
.pasystem-banner-alert.pasystem-banner-timezone::before,
.pasystem-banner-alert.pasystem-banner-low::before {
  content: '\f05a';
  color: #144bae;
}
.pasystem-banner-alert .pasystem-banner-alert-close {
  position: absolute;
  top: 50%;
  right: 10px;
  text-decoration: none;
  margin-top: -10px;
  color: #666;
}
.pasystem-banner-alert .pasystem-banner-alert-close::before {
  font-family: 'pasystem-icons';
  content: '\f00d';
}
.pasystem-banner-alert-toggle-list-item {
  display: inline-block;
  text-align: center;
}
a.pasystem-banner-alert-toggle {
  text-align: center;
  text-decoration: none;
}
.pasystem-banner-alert-toggle::before {
  font-family: 'pasystem-icons';
  content: '\f071';
  margin-right: 4px;
  color: #f7e084;
}
a.pasystem-banner-alert-toggle:hover {
	color: #fff;
	text-decoration: none;
}
a.pasystem-banner-alert-toggle:hover span {
	text-decoration: underline;
}
a.pasystem-banner-alert-toggle:hover::before {
	text-decoration: none;
	text-shadow: 0 0 5px rgba(165, 165, 165, 0.95);
}

@media only screen and (max-width: 800px) {
  .pasystem-banner-alerts {
    display: none; /* Not working correctly on mobile yet */
    position: absolute;
    top: 50px;
    right: 0;
    width: 80%;
    max-width: 500px;
    z-index: 1;
  }
  .pasystem-banner-alerts .pasystem-banner-alert {
    display: none; /* Not working correctly on mobile yet */
    margin: 10px;
    border-radius: 5px;
  }
  .pasystem-banner-alert-toggle-list-item {
    display: none !important; /* Not working correctly on mobile yet, important needed as styles get set on the element */
    position: fixed;
    left: 100px;
    top: 16px;
  }
  .pasystem-banner-alert-toggle {
    padding: 8px;
  }
}

.featherlight .featherlight-content {
    min-width: 450px;
    max-width: 782px;
    max-height: 85%;
    padding: 40px;
    padding-bottom: 0;
}

.featherlight .featherlight-close {
    right: 5px;
    top: 5px;
	margin-right: 0;
}

.popup-container-footer {
    display: block;
    padding: 0;
    text-align: right;
    margin-top: 25px;
}

.popup-dismiss-button {
    display: inline-block !important;
    margin-right: 4px;
    margin-bottom: 4px !important;
    padding: 10px !important;
    text-decoration: none !important;
    cursor: pointer;
}

.popup-dismiss-button.permanent {
    border: 1px solid #ddd !important;
    background: #f9f9f9 !important;
    color: #333 !important;
}

.popup-dismiss-button.temporary {
    background: #4f2683 !important;
    color: #FFF !important;
    border: 1px solid #4f2683 !important;
    margin-right: 0;
}

.popup-dismiss-button:hover,
.popup-dismiss-button:focus {
    background: #FFF !important;
    color: #4f2683 !important;
    border-color: #4f2683 !important;
}

.popup-container-header {
  background: #4f2683;
  padding: 10px 20px;
  color: #FFF;
  text-align: center;
  font-size: 2em;
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.pasystem-body .alert li {
  list-style: none;
}

a.btn-danger.btn-danger {
	color: #fff;
}