<!DOCTYPE html>
<html lang="$!{locale}" class="Mrphs-html">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>${pageTitle}</title>
        
        #parse("/vm/morpheus/snippets/portalCSS-snippet.vm")

        #parse("/vm/morpheus/snippets/title-snippet.vm")
        
        <script src="${pageScriptPath}headscripts.js$!{portalCDNQuery}"></script>
        <script src="${pageScriptPath}jquery.js$!{portalCDNQuery}"></script>
        <script src="$!{portalCDNPath}/portal/scripts/portalscripts.js$!{portalCDNQuery}"></script>

        #parse("/vm/morpheus/snippets/styleable-snippet.vm")

    </head>
    <!-- START VM join.vm -->
    <body class="Mrphs-portalBody Mrphs-joinpage">
        #if ( $pageTop )
            <script>
               var sakaiPortalWindow = "";
            </script>
        #end

        <table class="join" cellpadding="0" cellspacing="0" summary="layout">
            <tr>
                <th colspan="2">${uiService} - ${rloader.getString("join_title")}</th>
            </tr>
            <tr>
                <td class="logo"></td>
                <td class="form">
                    <table class="joinform" summary="layout" class="text center">
                        <tr>
                            <td>
                            <span class="instruction">
                                ${rloader.getString("join_instr")} <strong>${currentSite.siteTitle}</strong>.
                            </span>
                            </td>
                        </tr>
                        <tr>
                        #if (!${restrictedByAccountType})
                            <td>${rloader.getString("join_question")}</td>
                        #else
                            <td>${rloader.getString("join_restricted")}</td>
                        #end
                        </tr>
                        <tr>
                            <td class="act">
                                <form method="post" action="#">
                                #if (!${restrictedByAccountType})
                                    <input type="submit" name="join" value="${rloader.getString("yes")}" class="active">
                                    <input type="submit" name="reject" value="${rloader.getString("no")}">
                                #else
                                    <input type="submit" name="return" value="${rloader.getString("return")}" class="active"/>
                                #end
                                </form>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
    <!-- END VM join.vm -->
</html>
