//*** OWL Overrides of Previously-defined Styles ***\\

// OWL-3820: changes made in base/_icons.scss because of mixin
// OWL-3820: changed .fa-question to .fa-question-o for &--help-popup in modules/tool_base.scss because of extend

.#{$namespace}footer 
{
	.#{$namespace}footer--project 
	{
		display: flex;
		align-items: center;
	}
	.#{$namespace}footer--poweredby__image
	{
		box-sizing: content-box; 					// so width only controls the image's size
		width: 60px;
		padding: 0 $standard-spacing;				// to center image for focus outline
		margin-right: -#{$standard-spacing};		// to compensate for extra footer padding
	}
}

#toolMenu ul, #subSites ul
{
	li
	{
		border-bottom: 0 none;						// remove the borders from the tool menu

		&:first-of-type a
		{
			border-top: 0 none;						// remove the borders from the tool menu
		}

		&.is-current .#{$namespace}toolsNav__menuitem--link
		{	//put borders on the current tool without adding additional space
			padding-top: calc(#{$tool-menu-item-padding} - 1px);
			padding-bottom: calc(#{$tool-menu-item-padding} - 1px);
			border-top: 1px solid $tool-menu-item-separator-color;
			border-bottom: 1px solid $tool-menu-item-separator-color;
		}

		.#{$namespace}toolsNav__menuitem--link
		{
			font-size: 1em;
		}
	}
}