.portletBody {
    padding: 1em;
}

.sidebar {
    display: inline-block;
    vertical-align: top;
    width: 10em;
    margin-right: 2em;
}

.content {
    display: inline-block;
    width: 65%;
}

input {
    margin: 1em 0.2em;
}

.instruction {
    padding: 2em;
}

.pagNav {
    margin-left: 0.1em;
    margin-right: 0.1em;
}

ul.results {
    list-style: none;
}

.result .item {
    display: inline-block;
    vertical-align:
    top; width: 100%;
}

.result .thumbnail {
    display: inline-block;
    width: 128px;
    height: 128px;
}

.result .description {
    vertical-align: top;
}

.result .title {
    margin-left: 2em;
    font-size: large;
}

.result h3 {
    margin-bottom: 2em;
}

.result img {
    margin: 0 10px 10px 0;
    float: left;
}

.details .thumbnail {
    display: inline-block;
    width: 256px;
    height: 256px;
}

.facet {
    border: 1px solid black;
    padding: 0.5em;
    margin: 1em 0px;
}

.facet ul {
    padding-left: 1.5em;
    line-height: 160%;
}

.facet h3 {
    margin-top: 0;
    margin-bottom: 0.3em;
    font-size: medium;
}

.facet li div {
    display: inline-block;
    padding-left: 0.2em;
}

.facet li a {
    display: inline-block;
    max-width: 5.8em;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
    vertical-align: top;
}

.sort {
    text-align: right;
}

