<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd" >

<body>
<wicket:panel xmlns:wicket="http://wicket.apache.org">
	
	<wicket:child />
	
	<tr role="row" class="gb-headers headers">
		<wicket:container wicket:id="headers">
			<th wicket:id="header" scope="col" role="columnheader" tabindex="0">
				<div wicket:id="label"></div>
			</th>
		</wicket:container>
	</tr>
</wicket:panel>
</body></html>