/* Global namespace */

$namespace : "Mrphs-";
$skin-name : "morpheus-owl"; // This is used for bootstrap font behaviour.

$break-small-end: 	800px;
$break-medium-end: 	1030px;

$phone  :       "only screen and (max-width : #{ $break-small-end })";
$tablet :       "only screen and (max-width : #{ $break-medium-end })";
$desktop:       "only screen and (min-width : #{ $break-medium-end + 1 })";
$nonPhone:      "only screen and (min-width : #{ $break-small-end + 1 })";

// For the "More Sites" drawer, just use one column if there's not
// enough room to show two side-by-side.
$break-more-sites-single-column: 1200px;
$more-sites-single-column: "only screen and (max-width : #{ $break-more-sites-single-column })";

/* Typography*/

//Google family Fonts URL
$font-family-url: "//fonts.googleapis.com/css?family=Noto Sans:400,700" !default;

//Typography variables
$font-family: "Helvetica Neue", "Nimbus Sans L", "Liberation Sans", Arial, sans-serif !default;
$default-font-size: 14px !default;
$xsmall-font-size: 0.714em !default;	// 10px
$smaller-font-size: 0.857em !default; 	// 12px
$larger-font-size: 1.1429em !default;	// 16px
$xlarge-font-size: 1.429em !default;	// 20px
$default-font-weight: 400 !default;										// 400 or 700 as you wish
$default-line-height: 1.55 !default; 									// http://practicaltypography.com/line-spacing.html
$header-font-family: $font-family;
$header-font-weight: 700 !default;										// 400 or 700 as you wish

/* Color palette */
$background-color: 			 #FFFFFF !default;
$background-color-secondary: #444444 !default;

$primary-color:    			 #4f2683 !default;
$primary-color-shadow:		 adjust-hue( $primary-color, 5 ) !default;	// To give primary a darker shadow
$secondary-color:  			 #F00 !default;
$alt-colour: 				 #d36f00 !default;

$text-color:				 #212121 !default;
$text-color-disabled:		 #888 !default;

$portal-background-color: 	 $background-color !default;

$tool-background-color:		 $background-color !default;
$tool-menu-background-color: #eee !default;
$tool-menu-border-color:	 $primary-color !default; // could be #d2d2d2
$tool-menu-color: 			 #424242 !default;
$tool-border-color:			 #E0E0E0 !default;
$tool-tab-background-color:  		#F8F8F8 !default;
$tool-tab-border-color: 			#d2d2d2 !default;
$tool-nav-link-color: 				#666 !default;
$tool-nav-active-link-color:		#424242 !default;
$tool-tab-active-background-color: 	$background-color !default;
$tool-tab-active-border-color: 	 	$tool-nav-active-link-color !default;
$tool-tab-current-background-color: $background-color !default;
$tool-tab-current-border-color: 	$tool-tab-border-color !default;
$tool-nav-current-link-color: 			$primary-color !default;
$tool-menu-hover-color: 				$tool-menu-color !default;
$tool-menu-hover-background-color: 		#ddd !default;
$tool-menu-current-background-color:	$background-color !default;
$tool-menu-current-color: 				$primary-color !default;
$tool-menu-current-border-color: 		$primary-color !default;
$tool-sub-menu-border-color: 		#d2d2d2 !default;
$tool-sub-menu-background-color: 	darken( $tool-menu-background-color, 10% ) !default;
$tool-sub-menu-hover-background-color: 	$primary-color !default;
$tool-sub-menu-hover-color: 		#FFF !default;
$tool-sub-menu-current-color: 		$primary-color !default;
$tool-sub-menu-current-background-color:$background-color !default;
$tool-sub-menu-current-hover-color: 	$tool-menu-color !default;
$tool-sub-menu-current-hover-background-color: $background-color !default;

$main-content-background: $background-color !default;
$top-header-background: #000 !default;
$sites-nav-background: transparent !default;

$breadcrumbs-color:			#717171 !default;
$breadcrumbs-tool-color:	$primary-color !default;
$breadcrumbs-hover-color:	$breadcrumbs-tool-color !default;

/* Link colors */
$link-color: $primary-color !default;
$link-active-color: $primary-color !default;
$link-hover-color: $primary-color !default;
$link-background-color: transparent !default;
$link-active-background-color: transparent !default;
$link-hover-background-color: transparent !default;

/* Linknav button colors */
$button-text-color:	 #333 !default;
$button-border-color: #ccc !default;
$button-background-color: #fff !default;
$button-background-secondary-color: #f2f2f2 !default;
/* General button colors */
$button-color-text-color: #333 !default;
$button-color-border-color: #ccc !default;
$button-color-background-color: #fff !default;
$button-color-background-secondary-color: #f2f2f2 !default;
/* Primary button colours */
$button-primary-text-color: $background-color !default;
$button-primary-border-color: $primary-color !default;
$button-primary-background-color: $primary-color !default;
$button-primary-background-secondary-color: #6e43a5 !default;
$button-primary-background-tertiary-color: #552c8a !default;
/* Disabled button colours */
$button-disabled-text-color: #666 !default;
$button-disabled-border-color: #ccc !default;
$button-disabled-background-color: #f3f3f3 !default;

/* ///////////// */

$info-color:                #2a94c0  !default;
$info-background-color:     lighten($info-color, 45%) !default;
$ok-color:                  #3c763d !default;
$ok-background-color:        lighten($ok-color, 45%) !default;
$warn-background-color:     #F6ECB7 !default;
$warn-color:                darken($warn-background-color, 35%) !default;
$error-background-color:    #f2dede !default;
$error-color:               #900 !default;

$swapped-view-primary: 		 #bf360c !default;
$swapped-view-text-color:	 #414141 !default;
$swapped-view-sites-nav-background: $swapped-view-primary !default;

// "Unpublished Site" banner
$siteUnpublished-background: 	#900 !default;
$siteUnpublished-color:			#fff !default;

/* This is the gradient in the header of the page */
$header-gradient-a: #b6c3d4 !default;
$header-gradient-b: #d9cdcd !default;
$header-gradient-c: #c4ccd7 !default;
$header-gradient-d: #a6c2df !default;

/* topNav Main Menu */
$header-size : 50px !default;
$topNav-text-color:                         #fff !default; /* used for links and text in the topNav */
$topNav-text-alt-color:                     #ccc !default;

$sites-nav-menu-item-background:            #444 !default; /* with purple bar background, use: #633F94 */
$sites-nav-menu-item-color:                 #fff !default;
$sites-nav-menu-item-color-hover:           $sites-nav-menu-item-color !default;
$sites-nav-menu-item-border-top:            1px solid transparent !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-right:          none !default;
$sites-nav-menu-item-border-bottom:         $sites-nav-menu-item-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-border-left:           none !default;
$sites-nav-menu-item-selected-background:   #4f2683 !default; /* #d21768, #da17af */
$sites-nav-menu-item-selected-color:        #fff !default;
$sites-nav-menu-item-selected-color-hover:  $sites-nav-menu-item-selected-color !default;
$sites-nav-menu-item-selected-border-top:   1px solid transparent !default; /* 2px solid #fff */ /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-right: $sites-nav-menu-item-selected-border-top !default;
$sites-nav-menu-item-selected-border-bottom:$sites-nav-menu-item-selected-border-top !default; /* to pre-allocate space for dropdown top border needed for illusion */
$sites-nav-menu-item-selected-border-left:  $sites-nav-menu-item-selected-border-top !default;
$sites-nav-submenu-background:              $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background:         $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-background-hover:   $sites-nav-menu-item-background !default;
$sites-nav-submenu-item-color:              $sites-nav-menu-item-color !default;
$sites-nav-submenu-item-color-hover:        $sites-nav-submenu-item-color !default;
$sites-nav-submenu-item-border:             none !default;
$sites-nav-submenu-item-border-hover:       none !default;
$sites-nav-submenu-selected-background:     $sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-background:$sites-nav-menu-item-selected-background !default;
$sites-nav-submenu-item-selected-color:     $sites-nav-menu-item-selected-color !default;
$sites-nav-submenu-item-selected-border:    none !default;

/* Tool Menu */
$tool-menu-width: 180px !default;
$tool-menu-collapsed-width: 42px !default;

/* Navigation Hierarchy */
$hierarchy-size: 3.5em;

/* Golden Ratio width for 16px font http://www.pearsonified.com/typography/ */
$measure: 960px !default;

$standard-padding: 10px !default;

/* Logo location */
$logo: 'images/logo.png' !default;
$logo-height: 30px !default;
$logo-width: 50px !default;

/* Tool icons */
$skin-with-icons: true !default;
$icon-size: 20px !default;

/* Footer */
$footer-background: $primary-color !default;
$footer-color: #fff !default;

@import "customization"; //it is created on-the-fly by maven.

$instruction-color: #5c5c5c !default;
$instruction-background-color: #fff !default;

@import url(#{$font-family-url});
