/* This are elements that should look clickable */
.control:hover {
	cursor: pointer;
}
.control {
	text-decoration: underline;
	color: #33F;
	margin-left: 2em;
}

/* Used to prevent things wrapping. */
tr.headers th, .nowrap {
	white-space: nowrap;
}

/* This disables the double separator caused by a disabled link changing <a> to <span> */
.navIntraTool li span span {
	border-left: none;
}

/* Removes extra padding on clear button, which comes from Sakai. */
input.clear {
	margin: 0em;
}

/* style the Wicket FeedbackPanel to remove the list */
.alertMessage ul,.success ul {
	list-style-type: none !important;
	margin-left: -40px;
	margin-bottom: 0px;
	margin-top: 0px;
}