//////////////////////////////
// VARIABLES: For Modules specific styles
//////////////////////////////


$calendar-event-background-color: $button-color-border-color !default;
$calendar-event-text-color: $button-color-text-color !default;