img.cke_vimeo {
  background: #fff;
  background-image: url('../icons/placeholder.png');
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #ccc;
  width: 80px;
  height: 80px;
}
