<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Course Signup Webapp
  %%
  Copyright (C) 2010 - 2013 University of Oxford
  %%
  Licensed under the Educational Community License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  
              http://opensource.org/licenses/ecl2
  
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
  #L%
  -->

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<!--  <import resource="classpath:components.xml"/> -->
	<bean id="courseSignupController"
		class="uk.ac.ox.oucs.vle.mvc.CourseSignupController">
		 <property name="userService" ref="org.sakaiproject.user.api.UserDirectoryService" />
		 <property name="courseSignupService" ref="uk.ac.ox.oucs.vle.CourseSignupService" />
		 <property name="serverConfigurationService" ref="org.sakaiproject.component.api.ServerConfigurationService"/>
	</bean>
	
	<bean id="courseSignupUrlViewController"
		class="uk.ac.ox.oucs.vle.mvc.CourseSignupUrlViewController">
	</bean>
	
	<bean id="courseSignupRedirectController"
		class="uk.ac.ox.oucs.vle.mvc.CourseSignupRedirectController">
	</bean>

	<bean id="setupLoginController" class="uk.ac.ox.oucs.vle.mvc.SetupLoginController">
		<property name="sessionManager" ref="org.sakaiproject.tool.api.SessionManager"/>
		<property name="toolManager" ref="org.sakaiproject.tool.api.ActiveToolManager"/>
	</bean>

	<bean id="doLoginController" class="uk.ac.ox.oucs.vle.mvc.DoLoginController">
		<property name="toolManager" ref="org.sakaiproject.tool.api.ActiveToolManager"/>
	</bean>
	
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.UrlBasedViewResolver">
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
	</bean>

	<import resource="classpath:/tool-beans.xml"/>

</beans>
