#chef_start()
#chef_portletContainer()
#chef_portletContent()
<br/>
## If you are here and can manage this site you can manage all redirects.
<h3 padding="5px">#springMessage("show.redirects")</h3>
#if ($redirectNodes.size() > 0)
    #springBind("redirect-remove.id")
    #springShowErrors("" "alertMessage")
    <form method="POST" action="${rootUrl}/redirect/delete">
        <ul>
            #foreach ($node in $redirectNodes)
                <li>
                    #if($node.hidden)Hidden #else $!node.title #end
                    ($node.path) to <a href="$node.url" target="_new">$node.url</a> #if($node.appendPath)(#springMessage("show.with.path.appended"))#end
                    <input type="radio" name="id" value="$node.id">
                </li>
            #end
        </ul>
        <input type="hidden" name="_action" value="act_deleteredirect">
        <input type="submit" value="#springMessage("button.delete")">
    </form>
#else
    <p><label width="100%">#springMessage("show.no.redirects")</label></p>
#end
<h3>#springMessage("show.new.redirect")</h3>
<form method="POST" action="${rootUrl}/redirect/add">
    <div style="width: 950px;">
        <p><label  for="name" title="#springMessage("show.name.title")">#springMessage("show.name")</label>
        #set ($placeholder = "#springMessage('show.name.placeholder')" )
        <code>${current.nodeUrl}/</code> #springFormInput("redirect-add.name" "id='name' placeholder='${placeholder}'")</p>
        <p>#springShowErrors("" "alertMessageInline")</p>
        <p class="instruction">#springMessage("show.title.info")</p>
        <label for="title" title="#springMessage("show.title.title")">#springMessage("show.title")</label>
        #set ($placeholder = "#springMessage('show.title.placeholder')" )
        #springFormInput("redirect-add.title" "id='title' size='${titleMaxLength}' maxlength='${titleMaxLength}' placeholder='${placeholder}'")
        #springShowErrors("" "alertMessageInline")<br/><br/>
        <p class="instruction">#springMessage("show.url.info")</p>
        <label for="url" title="#springMessage("show.url.title")">#springMessage("show.url")</label>
        #set ($placeholder = "#springMessage('show.url.placeholder')" )
        #springFormInput("redirect-add.url" "id='url' size='50' placeholder='${placeholder}'")
        #springShowErrors("" "alertMessageInline")<br/><br/>
        <p class="instruction">#springMessage("show.appendPath.info")</p>
        <label for="appendPath" title="#springMessage("show.appendPath.title")">#springMessage("show.appendPath")</label>
        #springFormCheckbox("redirect-add.appendPath" "true" "")<br/><br/>
        <p class="instruction">#springMessage("show.hidden.info")</p>
        <label for="hidden" title="#springMessage("show.hidden.title")">#springMessage("show.hidden")</label>
        #springFormCheckbox("redirect-add.hidden" "true" "" )<br/><br/>
        <input type="submit" value="#springMessage("button.new.redirect")"><br/>
    </div>
</form>
<form method="POST" action="${rootUrl}/cancel">
    <p><input type="submit" value="#springMessage("button.cancel")"></p>
</form>
#chef_portletContentEnd()
#chef_portletContainerEnd()
#chef_end()