img.cke_image_gallery {
  background: #fff;
  background-image: url('../icons/placeholder.png');
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #a9a9a9;
  width: 80px;
  height: 80px;
}
