@import "_assignments_variables.scss";

.#{$namespace}sakai-assignment-grades {

	.page-header small {
		font-size: 1em;
		font-weight: normal;
	}

	.checkbox-label {
		margin-left: 20px;
	}
	#req-new_assignment_grade_points{
		color: $error-color;
		margin: 9px 0 0 -13px;
		position: absolute;
	}
	.assignment-pager {
		text-align: center;
		.panel-heading {
			padding: 5px 10px;
		}
		input {
			margin: 0;
		}

		button{
			margin: 0;
		}
	}

	.form-required{
		label{
			&:after{
				content: "*";
				color: $error-color;
				position: relative;
				top: 3px;
			}
		}
	}

	#gradeOverridePanel{
		margin-left: 2em;
		background-color: $tool-background-color;
		.row-override:nth-child(odd){
			background: darken($tool-background-color, 5%);
		}
		.row-override{
			padding: 0.5em 0 0.5em;
		}
		.shorttext{
			display: block;
		}
		.assignment-checkbox-inline{
			display: inline-block;
		}
	}

	#reorder-list-sortingToolBar, #reorder-list{
		max-width: 1200px;
	}

	label.innerRadio{
		margin-left: 20px;
	}

	a#infoImg{
		color: lightblue;
		font-size: 1.2em;
		margin-right: 5px;
		vertical-align: middle;
		text-decoration: none;
		cursor: pointer;
	}

	#sendFeedbackPanel, #allowResubmissionPanel{
		margin-bottom: $standard-spacing;

		.discTria{
			margin-bottom: 0;
			padding: 0;
			border: $assignments-disclosure-border;
			background-color: $assignments-disclosure-bg;
		}
	}
	
	#sendFeedbackPanelContent, #allowResubmissionPanelContent {
		padding: $standard-spacing;
		border: $assignments-disclosure-border;
		border-top: 0 none;
	}

	// Styles for navigators in Grading Student Screen
	.gradingTopBar, .gradingBottomBar {
		display: flex;
		flex-direction: row-reverse;
		flex-wrap: wrap;
		align-items: flex-start;
		justify-content: space-between;
		margin-bottom: $standard-spacing;
	}
	
	.gradingBottomBar {
		flex-direction: row;
	}

	.submissionDetails {
		margin-right: auto; // push it to the left
		
		table {
			margin-right: $standard-spacing;
		}
	}

	#subsOnlyContainer{
		display: block;
		text-align: center;
		
		label {
			margin-bottom: 0;
			font-weight: normal;
		}
	}

	/* start SAK-29314 */
	.navigator {
		display: flex;
		flex-wrap: wrap-reverse;
		flex-grow: 2;
		justify-content: flex-end;
		margin-bottom: $standard-spacing;

		fieldset.roundedBorder {
			flex-grow: 2;
			border: 1px solid #c8c8c8;
			border-radius: 3px;
			padding: $standard-spacing;
			max-width: $break-small-end;

			legend {
				padding: 0 $standard-space;
				background: #fff;
				color: #444444;
				font-size: $default-font-size-large;
				font-weight: normal;
			}
		}
	}

	.navigatorContainer {
		display: flex;
		justify-content: center;
		
		input, button {
			margin: $standard-space $standard-space 0 0;
		}
		
		.small.text-muted {
			margin: $standard-space 0 0 0;
		}

		.leftColumn, .rightColumn, .centreColumn{
			display: flex;
			align-items: flex-start;
			flex-wrap: wrap;
		}

		.leftColumn{
			justify-content: flex-end;
			flex-wrap: wrap-reverse;
		}

		.centreColumn {
			justify-content: center;
		}

		.rightColumn {
			justify-content: flex-start;
		}
	}

	.table{
		h5{
			margin: 0 0 0.5em 0;
		}
		.peer-header{
			font-size: 0.9em;
			line-height: 1;
			padding: 0.5em 0 0.5em 2.5em;
		}
	}

	.toggleAnchor {
	  border: $assignments-disclosure-border;
	  background: $assignments-disclosure-bg;
	  padding: $standard-spacing;
	  cursor: pointer;
	  margin: $standard-spacing 0;
	  font-size: 1em;
	  font-weight: normal;
	  color: $link-color;

	  &:hover {
	    border: $assignments-disclosure-border-hover;
	  }
	}

	.toggleAnchorOpen {
	  &:hover {
	    border: $assignments-disclosure-border-hover;
	  }
	  border: $assignments-disclosure-border;
	  background: $assignments-disclosure-bg;
	  padding: $standard-spacing;
	  cursor: pointer;
	}

	a.toggleAnchor {
	  display: block;
	  text-decoration: none !important;
	  > {
	    h3, h4 {
	      display: inline;
	    }
	  }
	}

	.discTria > a {
	  display: block;
    padding: $standard-spacing;
    text-decoration: none !important;
	}
  
  #assignamentInstructionPanel {
    .discTria {
      padding: 0;
      margin-bottom: 0;
      border: $assignments-disclosure-border;
      background-color: $assignments-disclosure-bg;
    }
    
    #assignamentInstructionPanelContent {
      padding: $standard-spacing;
      border: $assignments-disclosure-border;
      border-top: 0 none;
    }
  }

	.toggledContent {
	  margin: -#{$standard-spacing} 0 $standard-spacing 0;
	  border: $assignments-disclosure-border;
	  border-top: none;
	  padding: $standard-spacing;

	  h4 {
	    color: #000 !important;
	    width: 40em;
	    margin: .5em 0 !important;
	    padding: .3em 0;
	    border-bottom: 2px solid #ccc;
	  }
	}
	
	.assignmentSubmissionContainer {
		margin-bottom: $standard-spacing;
		padding: $standard-spacing;
		border: $assignments-disclosure-border;
	}
	
	.assignmentSubmissionGradeContainer {
		padding: $standard-spacing;
		width: max-content;
		border: $assignments-disclosure-border;
		background-color: $assignments-disclosure-bg;
		
		.shorttext, .shorttext > label {
			margin: 0;
		}
	}

	.smallCol {
	  width: 25px;
	}

	#allowResubmission_shownInner, #sendFeedback_shownInner {
	  padding: 1em;
	}

	#allowResubmission_shownInner, #sendFeedback_shownInner p {
	  border: none;
	}

	.highLightBlock {
	  background: #eee;
	}
  
  .tab-content {
	  margin-bottom: $standard-spacing;
	  padding: $standard-spacing;
	  border: $assignments-disclosure-border;
	  border-top: 0 none;
}

	.popupMessage {
	  background-color: #ffffcb !important;
	  border: 1px solid lightgray;
	  padding: 0.4em;
	  width: 475px;
	  position: absolute;
	  z-index: 1000;
	}

	.reportIcon {
	  display: inline-block;
	  width: 20px;
	  text-align: center;
	}

	.disclosureTriangle {
	  vertical-align: top;
	}

	.attachmentsIcon {
	  max-width: none;
	}

	.assignmentUnsubmittable {
	  background-color: #900;
	  color: #fff;
	}

	.assignmentUnsubmittableAttachments {
	  background-color: #fdd;
	}

	.assignmentUnsubmittable, .assignmentUnsubmittableAttachments {
	  border: 1px solid #900;
	  padding: 0 10px 10px;
	  margin: 1em 0;
	}

	.assignmentUnsubmittable {
	  h3 {
	    color: #fff;
	  }
	  .assignmentInline {
	    background-color: #fff;
	    border: 1px solid #eee;
	    color: #000;
	    margin-top: 10px;
	    max-height: 300px;
	    overflow-y: auto;
	    padding: 0 10px;
	  }
	}

	.assignmentWarning {
	  background: url('/library/skin/images/error.png') no-repeat left;
	  padding-left: 2em;
	}

	.assignmentAttachRadio {
	  margin: 2px;
	  padding: 0 1em;
	  input, img, span, input[type=file] {
	    line-height: 2.5em;
	    vertical-align: middle;
	  }
	}

	.assignmentAttachmentHighlight {
	  background-color: #ffe;
	}

	.assignmentAttachBox {
	  background-color: #eee;
	  padding: 10px;
	  h3 {
	    margin: 0;
	  }
	}

	.assignmentRosette {
	  vertical-align: middle;
	}

	/* SAK-26349 */

	.groupsContainer {
	  strong {
	    font-weight: normal;
	    cursor: pointer;
	    padding-left: 1em !important;
	  }
	  .expand {
	    background: url('/library/image/sakai/collapse.gif') no-repeat left !important;
	  }
	  .collapse {
	    background: url('/library/image/sakai/expand.gif') no-repeat left !important;
	    display: block !important;
	  }
	}

	label.disabled {
	  color: #aaa;
	}

	td.specialLink a {
	  &:link, &:visited {
	    color: #197FA8;
	  }
	}

	.gradingHeader {
	  width: 100%;
	  line-height: 1.4em;
	  padding: 3px;
	}

	select.selectSet {
	  display: none;
	}

	#extraNodeLinkList {
	  max-width: 1200px;
	}

	.extraNode {
	  border: 1px solid #69d;
	  padding: 0  1.5em 1em 1.5em;
	  width: 100%;
	  max-width: 1200px;
	  legend {
	    margin-bottom: 1em;
	  }
	}

	.extraNodeLink {
	  cursor: pointer;
	}

	.extraNode legend {
	  padding: 0 .5em;
	  color: #555;
	}

	.members {
	  font-size: 0.9em;
	}

	.userList {
	  margin-left: 36px !important;
	  .selectedItem {
	    background-color: #def;
	    color: #000;
	    font-weight: bold;
	  }
	  li label:hover {
	    cursor: pointer;
	    background: #ffe;
	  }
	}

	fieldset {
	  .alertMessageInline, .alertMessage {
	    border: none;
	  }
	}

	.smallMatches {
	  background-color: lightyellow;
	  border-style: solid;
	  border-width: 1px;
	  border-color: lightgray;
	  padding: 1em 1em 1em 2em;
	}

	.itemAction {
	  &.spinnerBesideContainer a {
	    margin: 0 4px;
	  }
	  a:link {
	    border: 1px solid transparent;
	  }
	}

	.contentReviewColumn {
		width: 320px;
	}

	.contentReviewIcon {
		@extend .fa, .fa-flag;
	}

	.contentReviewIconDraft {
		@extend .fa, .fa-pencil-square;
	}

	.contentReviewIconWarn {
		@extend .fa, .fa-exclamation-triangle;
		color: #FFC107;
	}

	.contentReviewIconPending {
		@extend .fa, .fa-hourglass-half;
		color: #2196F3;
	}

	.contentReviewIconNoService {
		@extend .fa, .fa-cog;
		color: #212121;
	}

	.contentReviewIconServiceUnsupported {
		@extend .fa, .fa-chain-broken;
		color: $gray-light;
	}

	.contentReviewIconThreshold-1 {
		@extend .contentReviewIcon;
		color: #F44336;
	}

	.contentReviewIconThreshold-1-draft {
		@extend .contentReviewIconDraft;
		color: #F44336;
	}

	.contentReviewIconThreshold-2 {
		@extend .contentReviewIcon;
		color: #FF9800;
	}

	.contentReviewIconThreshold-2-draft {
		@extend .contentReviewIconDraft;
		color: #FF9800;
	}

	.contentReviewIconThreshold-3 {
		@extend .contentReviewIcon;
		color: #FFD600;
	}

	.contentReviewIconThreshold-3-draft {
		@extend .contentReviewIconDraft;
		color: #FFD600;
	}

	.contentReviewIconThreshold-4 {
		@extend .contentReviewIcon;
		color: #4CAF50;
	}

	.contentReviewIconThreshold-4-draft {
		@extend .contentReviewIconDraft;
		color: #4CAF50;
	}

	.contentReviewIconThreshold-5 {
		@extend .contentReviewIcon;
		color: #2196F3;
	}

	.contentReviewIconThreshold-5-draft {
		@extend .contentReviewIconDraft;
		color: #2196F3;
	}

	.contentReviewIconThreshold-6 {
		@extend .contentReviewIcon;
		color: #9E9E9E;
	}

	.contentReviewIconThreshold-6-draft {
		@extend .contentReviewIconDraft;
		color: #9E9E9E;
	}

	.contentReviewDisclosure {
		position: relative;
		display: flex;
		margin-right: $standard-space;
		align-items: baseline;
	}

	.contentReviewDisclosure:focus {
		outline-offset: -1px;
	}

	.contentReviewMessage {
		background-color:#fff;
		position: relative;
		border: 1px solid;
		border-radius: 5px;
		margin: 7px 24px 4px 24px;
		padding: 4px 8px;
		background-color: $assignments-disclosure-bg;
		border-color: $assignments-disclosure-bg;
		color: $primary-color;

		&::before {
			content: "";
			position: absolute;
			top: -14px; // -2 x the border
			left: 5px;
			width: $standard-spacing;
			height: $standard-spacing;
			border: 7px solid transparent;
			border-bottom-color: $primary-color;
		}
	}

	div#pagingHeader {
		height: 20px;
		padding: 15px;
		@include display-flex;
		@include align-items(center);
		@include justify-content(center);
	}

	#groupTable, #filterByGroupDiv{
		button.multiselect-clear-filter{
			padding: 6px 12px;
			font-size: 14px;
			line-height: 1.42857143;
			background-color: #eee;
		}
	}

	.borderPanel {
		border: 1px solid #aaa;
		padding: 0.6em;
	}

	.sakai-asn-controlRow {
		@include justify-content(space-between);
		@include align-items(flex-end);
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
		grader-toggle { margin-left: 20px; }
	}

	#honor-pledge-agreement {
		h4 {
			font-size: $jumbotron-heading-font-size;
			margin: 0 0 0.5em 0;
		}
		margin-bottom: 0;
	}

	.progress-container {
		position: relative;

		.progress-cols {
			position: absolute;
			width: 100%;
			background: no-repeat;
		}

		.progress-bar-empty {
			background-color: transparent;
			color: $text-color;
		}

		.progress-bar-active {
			color: #ffffff;
		}
	}

	.student-picture {
		background-position: center center;
		background-size: cover;
		border-radius: 80px;
		border: 1px solid $background-color-secondary;
		float: left;
		height: 80px;
		padding: 0px;
		margin: 0 $standard-spacing 0 0;
		width: 80px;
	}

  #submissionList sakai-rubric-student-button {
    float: right;
  }

  #msgNoMembersInCommonError {
	  max-height: 300px;
	  overflow-y: auto;
  }

  #checkNowButton {
	  margin-top: $standard-spacing;
  }

  #groupTableContainer .multiselect-native-select::after
  {
	  content: "*";
	  color: #990000;
	  position: relative;
	  top: 3px;
	  margin-left: 4px;
  }

  #categoryList label {
	  margin-bottom: 0; /* kill off bootstrap margin to reduce jitter during animation transitions */
  }

  #assignmentGradingPointsPanel label {
	  font-weight: normal;
  }

  #assignmentGradingPointsPanel .radio, #assignmentGradingPointsPanel .checkbox {
	  margin-top: 0;
	  margin-bottom: 0;
  }

  #assignmentGradingPointsPanel sakai-rubric-association {
	  display: block;
  }

  #assignmentGradingPointsPanel sakai-rubric-association h4 {
	  display: none;
  }

  #assignmentGradingPointsPanel sakai-rubric-association .rubrics-list {
	  margin-left: 3em; /* match indnt3 */
	  padding-left: 0;
  }

  #msgNoMembersInCommon.is-hidden,
  #msgNoMembersInCommonSuccess.is-hidden,
  #msgNoMembersInCommonError.is-hidden,
  #checkGroupsError.is-hidden,
  #checkGroupFailed.is-hidden,
  #checkGroupsErrorReport.is-hidden {
	  display: none;
  }
}
