.ui-progressbar {
	position: relative;
	background: #A0A0A0;
	margin-bottom: 15px;
}

.progress-label {
	position: absolute;
	width: 100%;
	top: 3px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
	text-align: center;
}

#dialog-timeout {
	display: none;
}

#timeoutWarning {
	display: none;
	background-color: #f2dede;
	color: #a94442;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin: 10px 10px 0px 10px;
}

#progressbar {
	display: block;
	margin: 10px 10px 0 10px;
}

#timerBlock {
	position: relative;
	top: 0px;
	width: max-content;
	min-width: 400px;
	margin: 10px auto;
	padding: 1px; /* to contain the margin of the .progressBar */
	border-radius: 10px;
	z-index: 2;
	background-color: #4f2683; 
}

#timerBlock.stuckToTop {
	margin-top: 0;
	border-radius: 0 0 10px 10px;
}

#showHide {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
	cursor: pointer;
}

/* Un-Comment this block to enable a more visible keyboard focus indicator
div#showHide:focus {
	outline: 3px solid #fff;
	margin: 14px;
}
*/

#showHideText {
	padding: 10px;
	color: #ffffff;
}

.showHideSym {
	color: #ffffff;
}

.ajaxImg {
	vertical-align: middle;
}

#warnClose {
	float: right;
	margin-left: 10px;
	text-decoration: underline;
	cursor: pointer;
}

.ui-progressbar .ui-progressbar-value {
	margin: 0px !important;
}

.timerSubmissionInfoCol1 {
	width: 240px;
	vertical-align: top;
	padding-top: 2px;
	padding-left: 2px;
}

.timerSubmissionInfoCol2 {
	width: 240px;
	vertical-align: top;
}

tr.timerSubmission:nth-child(even) {
	background-color: #eee;
}