/* main dialog */
#youTubeDialog {
}

/* heading, description and search form (input/button) */
#youTubeDialog h2 {
  font-size: 120%;
  font-weight: bold;
  white-space: normal !important;
}
#youTubeDialog p {
  margin: 5px 5px 15px 0;
  white-space: normal !important;
}
#youTubeDialog iframe {
  height: 40px;
  width: 500px;
}
#youTubeSearchForm .item-search-form {
  position: relative;
  height: 40px;
  width: 500px;
  overflow: hidden;
}
#youTubeSearchForm .item-search-query {
  width: 468px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
  position: absolute;
  top: 0; left: 0;
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 0 0 5px !important;
}
#youTubeSearchForm  .item-search-query, .item-search-button {
  box-sizing: border-box;
  font-size: 130%;
  padding: 1px;
  margin: 0;
  height: 30px;
}
#youTubeSearchForm .item-search-button {
  width: 32px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  position: absolute;
  top: 0; right: 0;
  padding: 0;
  line-height: 21px;
  overflow: hidden;
  text-align: center;
}
#youTubeSearchForm .item-search-button:focus,
#youTubeSearchForm .item-search-button:active {
  padding: 0 !important;
  margin: 0;
}
#youTubeSearchForm .item-search-button .icon {
  height: 100%;
  width: 100%;
  display: block;
  background: url('../icons/search.png') no-repeat 5px 3px;
}

/* search results */
#youTubeSearchResults {
  margin-top: 0px;
  list-style-type: none;
  max-width: 500px;
  max-height: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}
#youTubeSearchResults .result {
  display: block;
  border: 1px solid #e0dfde;
  border-radius: 5px;
  padding: 8px;
  margin: 14px;
  background: #fff;
  box-shadow: 1px 1px 3px #e0dfde;
  transition: background 0.5s, border 0.5s, box-shadow 0.5s;
  overflow: hidden;
}
#youTubeSearchResults .result, #youTubeSearchResults .result * {
  cursor: pointer !important;
  white-space: normal !important;
}
#youTubeSearchResults .result:hover {
  background: #F5F5F5;
  border-color: #D9D9D9;
  box-shadow: 1px 1px 3px #D9D9D9;
}
#youTubeSearchResults img {
  float: left;
  margin: 0 5px 5px 0;
  max-width: 100px;
  height: auto;
  border-radius: 4px;
  box-shadow: 1px 1px 0px #4A4A4A;
  overflow: hidden;
}
#youTubeSearchResults .result h2 {
  font-weight: bold;
  font-size: 130%;
  word-wrap: break-word !important;
  color: #55830C;
  margin-left: 110px;
  transition: color 0.5s;
}
#youTubeSearchResults .result:hover h2 {
  color: #8FC716;
}
#youTubeSearchResults .result p {
  font-size: 90%;
  font-style: italic;
  word-wrap: break-word !important;
  color: #636363;
  margin-left: 110px;
}
#youTubeSearchResults .noresults,
#youTubeSearchResults .badrequest {
  display: block;
  text-align: center;
  padding: 6px;
  word-wrap: break-word !important;
}
