.#{$namespace}sakai-siteinfo
{
	.open > .dropdown-menu
	{
		left: -124px;
		width: 160px;
		margin: 0;		// to override default .dropdown-menu styles
		padding: 0;		// to override default .dropdown-menu styles
		
		> li > a 
		{
			display: flex;
			align-items: center;
			padding: 5px;
			line-height: 1.2;
			white-space: normal;
			
			span
			{
				text-transform: capitalize;
			}
			
			.glyphicon
			{
				padding-right: 10px;
				text-transform: none;
			}
		}
	}
	
	.tool_list .editable_item
	{
		margin: 0;
	}
	
	.item_edit_box_confirm
	{
		display: flex;
		align-items: center;
		
		a
		{
			margin-right: $standard-padding;
			
			span
			{
				font-size: 0;		// hide alternative text
				
				&::before
				{
					font-size: 16px;	// show icon
				}
			}
			
			.glyphicon-ok-sign
			{
				color: #04b13b;		// green
			}
			
			.glyphicon-remove-sign
			{
				color: #f00; 		// red
			}
		}
	}
	
	.groups-site{
		list-style: none;
		
		li {
			min-height: 4em;
			&:nth-child(odd){
				background: darken( $tool-background-color, 5% );
			}
		}
	}
	
	#groupMembers-selection, #siteMembers-selection 
	{
		min-width: 100%;			// to avoid the selects from collapsing when they contain no items
	}
}

#toolSelectionList{
	ul{
		padding: 0 0 0 0;
	}
}