@mixin align-items($p: center) {
    -webkit-align-items: $p; /* safari */
    align-items: $p;
}
@mixin display-flex($p: flex) 
{
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex; 	   /* safari */
    display: $p;
}
@mixin flex-direction($p: row) {
    -webkit-flex-direction: $p; /* safari */
    flex-direction: $p;
}
@mixin flex-shrink($p: 0) {
    -webkit-flex-shrink: $p;
    flex-shrink: $p;
}
@mixin flex-grow($p: 0) {
    -webkit-flex-grow: $p;
    flex-grow: $p;
}
@mixin flex-basis($p: auto) {
    -webkit-flex-basis: $p;
    flex-basis: $p;
}
@mixin flex-shorthand($f-grow:0, $f-shrink:1, $f-basis: auto)
{
	-webkit-box-flex: $f-grow;
	-moz-box-flex: $f-grow;
	-webkit-flex: $f-grow $f-shrink $f-basis;
	-ms-flex: $f-grow $f-shrink $f-basis;
	flex: $f-grow $f-shrink $f-basis;
}
@mixin flex-wrap($p: nowrap)
{
	-moz-flex-wrap: $p;
	-webkit-flex-wrap: $p;
	flex-wrap: $p;
}
@mixin appearance($p: none) {
	-moz-appearance: $p;
	-webkit-appearance: $p;
	appearance: $p;
}
@mixin border-radius($p: 0) {
    -moz-border-radius: $p;
    -webkit-border-radius: $p;
    border-radius: $p;
}
@mixin justify-content($p: flex-start) {
	-webkit-justify-content: $p;
	justify-content: $p;
}
@mixin align-self($p: auto) {
    -webkit-align-self: $p; /* safari */
    align-self: $p;
}
@mixin filter($p: none) {
	-webkit-filter: $p; /* Chrome, Safari, Opera */
	filter: $p;
}
@mixin transition($property: all, $duration: 0s, $timing: ease, $delay: 0s) {
    -webkit-transition: $property $duration $timing $delay; /* Safari 3.1 to 6.0 */
    transition: $property $duration $timing $delay;	
}
@mixin transform($p: p) {
    -ms-transform: $p; /* IE 9 */
    -webkit-transform: $p; /* Chrome, Safari, Opera */
    transform: $p;
}