@import "base/compass";

body{
	background:  $tool-background-color;
	color: 		 $text-color;
	font-family: $font-family;
	font-size: 	 $default-font-size !important; // Bootstrap Tool error
	font-weight: $default-font-weight;
	line-height: $default-line-height;
	&.#{$namespace}portalBody{
		background:  $portal-background-color;
		@media #{$phone}{
			//background: linear-gradient( to bottom, #b6c3d4, #d9cdcd, #c4ccd7, #a6c2df ) fixed;  OWLTODO: needed?
			background-size: auto 100%;
			padding: 2.8em 0 0 0;
		}
	}
}

a{
	color: $text-color;
	&:hover{  // This means a:hover
		color: $text-color;
		text-decoration: none;
	}
	&[href]{  // This means a[href]
		color: $link-color;
		background-color: $link-background-color;
		&:focus, &::-moz-focus-inner{ // This would compile to -> a[href]:focus, a[href]::moz-focus-inner
			outline-color: invert;
		}
		&:hover{
			color: $link-hover-color;
			background-color: $link-hover-background-color;
			text-decoration:underline;
		}
		&:active{
			color: $link-active-color;
			background-color: $link-active-background-color;
		}
		&.btn{
			text-decoration: none;
		}
		&.btn-primary			// OWLTODO: consolidate all of the 
		{
			@include sakai_button_color( $button-primary-background-secondary-color, $button-primary-border-color, $button-primary-text-color, $button-primary-background-color );
			box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
			
			&:hover, &:focus
			{
				border-color: $button-primary-border-color; // needed to override default button hover/focus border
				background: linear-gradient($button-primary-background-tertiary-color 0%,$button-primary-background-color 80%);
				box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
			}

			&:active
			{
				border-color: $button-primary-border-color; // needed to override default button hover/focus border
				color: $button-primary-text-color;
				background: linear-gradient($button-primary-background-tertiary-color 0%,$button-primary-background-color 80%);
				box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6) inset;
			}
		}
		text-decoration:underline;	
	}
	&.url{
		@media #{$phone}{
		    display: block;
			max-width: 100%;
		    overflow: hidden;
		    text-overflow: ellipsis;
		    white-space: nowrap;
		}
	}
}

input, textarea{
	color: $text-color;
	font-family: $font-family;
	font-size: 	 $default-font-size;
	max-width: 100%;
}

form, table{
	textarea{
		@media #{$phone}{
			width: 100%;
			max-width: 100%;
		}
	}
}

h1, h2, h3, h4, h5, h6{
	font-family: $header-font-family;
	font-weight: 700;
	line-height: 1.05;
	margin: 0.75em 0 0.5em 0;
}

h1{
	font-size: #{$default-font-size + 8};
}

h2{
	font-size: #{$default-font-size + 6};
}

h3{
	font-size: #{$default-font-size + 4};
}

h4{
	font-size: #{$default-font-size + 2};
}

.skip{
	position: absolute !important;
	height: 1px; width: 1px; 
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: polygon(0px 0px, 0px 0px,0px 0px, 0px 0px);
}

input[type="submit"],input[type="button"]{
	@extend .button_color;
}

input[type="reset"],input[type="button"]{
	@extend .button_color;
}

input[type="checkbox"], input[type="radio"]{
	background-color: #FFF;
	border: 1px solid #A0A0A0;
	display: inline-block;
	height: 16px;
	width: 16px;
	vertical-align: sub;
	@include appearance(none);
	&:checked{
		border: 1px solid #60b3e3;
	}
	//SAK-30977
	&[disabled],&[disabled="disabled"],&[disabled="true"]{
		opacity: 0.8;
		& + label{
			color: lighten($text-color, 10%);
		}
	}
}

label.disabled{
	color: lighten($text-color, 10%);
	cursor: not-allowed;
}

input[type="checkbox"]{
	@include border-radius(3px);
	&:checked{
		background-image: url("images/check.png");
		background-size: 16px;
	}
}
input[type="radio"]{
	@include border-radius(24px);
	&:checked{
		background: radial-gradient(#60b3e3, #FFF 5px);
	}
}

select{
	@extend .select;
}

.is-hidden{
	display: none;
}

strong, b{
	font-weight: 700;
}

i, em{
	font-style: italic;
}

u, ins {
	text-decoration: underline;
}

s, strike, del {
	text-decoration: line-through;
}

legend{
	padding: 0.5em 0 0.1em 0;
	margin-bottom: 0;
}

input[type="submit"][disabled="disabled"],
input[type="button"][disabled="disabled"],
input[type="submit"][disabled="true"],
input[type="button"][disabled="true"],
input[type="submit"][disabled],
input[type="button"][disabled],
input[type="submit"][class="disabled"],
input[type="button"][class="disabled"],
input[type="submit"][disabled="disabled"]:hover,
input[type="button"][disabled="disabled"]:hover,
input[type="submit"][disabled="true"]:hover,
input[type="button"][disabled="true"]:hover,
input[type="submit"][disabled]:hover,
input[type="button"][disabled]:hover,
input[type="submit"][class="disabled"]:hover,
input[type="button"][class="disabled"]:hover,
button[disabled]:hover,
button[class="disabled"]:hover,
.formButtonDisabled, 
.formButtonDisabled:hover,
.formButtonDisabled:active,
input[type="submit"][disabled="disabled"]:active,
input[type="button"][disabled="disabled"]:active,
input[type="submit"][disabled="true"]:active,
input[type="button"][disabled="true"]:active,
input[type="submit"][disabled]:active,
input[type="button"][disabled]:active,
input[type="submit"][class="disabled"]:active,
input[type="button"][class="disabled"]:active,
button[disabled]:active,
button[class="disabled"]:active,
{
	background: transparent linear-gradient($button-disabled-background-color 0%, $button-disabled-background-color 100%) repeat scroll 0% 0% !important;
	color: $button-disabled-text-color !important;
	border: 1px solid $button-disabled-border-color !important;
	box-shadow: none !important;
	cursor: not-allowed;
	text-decoration: none;
}

input[type="checkbox"].formButtonDisabled{
	@include border-radius(3px);
	&:checked{
		background-image: url("images/check.png") !important;
		background-size: 16px !important;
	}
}
input[type="radio"].formButtonDisabled{
	@include border-radius(24px);
	&:checked{
		background: radial-gradient(#60b3e3, #FFF 5px) !important;
	}
}

.act 
{
	padding: 1em 0;
	
	.active
	{
		border-color: $button-primary-border-color;
		color: $button-primary-text-color;
		background: linear-gradient($button-primary-background-secondary-color 0%,$button-primary-background-color 80%);
		box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
			
		&:hover, &:focus
		{
			border-color: $button-primary-border-color; // needed to override default button hover/focus border
			background: linear-gradient($button-primary-background-tertiary-color 0%,$button-primary-background-color 80%);
			box-shadow: 0 1px 0 rgba(255, 255, 255, 0.15) inset;
		}
		
		&:active
		{
			border-color: $button-primary-border-color; // needed to override default button hover/focus border
			color: $button-primary-text-color;
			background: linear-gradient($button-primary-background-tertiary-color 0%,$button-primary-background-color 80%);
			box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.6) inset;
		}
	}
}

ul, ol {
    padding: 0 0 0 1.5em;
}

span.marker {
    background-color: yellow;
}
