:root
{
	--msg-primary-border-colour: #7a7483;
	--msg-secondary-border-colour: #a69db2;
	--msg-metadata-border-colour: #00875a;
}

/*PART 1 - FORUM AND TOPIC LISTINGS*/
.forums {
	width: 100%;
	max-width: 100%;
	margin-bottom: 10px;
}
.forumHeader{
	/*panel holding all forum metadata in forum list view*/
	display: flex;
	justify-content: space-between;
	width: 100%;
	background: #eee;
	border: 1px solid #ddd;
	margin: 0;
	padding: 10px;
}
.forumTitle {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.forumTitle h2 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 0;
	padding: 8px 0; /* to match the button height */
	gap: 4px;
	font-size: 18px;
}
.forumsCollapseTrigger[href] {
	display: inline-block;
	text-decoration: none;
}
.forumsCollapseTrigger:before {
	content: "\f0da";
	display: inline-block;
	width: 1em;
	font-family: FontAwesome;
	text-align: center;
}
.forumsCollapseTrigger[aria-expanded="true"]:before {
	content: "\f0d7";
}
h1 + .forumsCollapseTrigger,
h2 + .forumsCollapseTrigger,
.shortDescription + .forumsCollapseTrigger {
	margin-top: 8px; /* to match title's spacing when both short description and details are set */
}
.forumsCollapseTarget {
	overflow: hidden; /* avoid jitted: https://stackoverflow.com/questions/21347898/jquery-slidedown-animation-jitter */
	padding-left: 1em; /* to match the width of the trigger arrow above */
}
.forumHeader .actionLinks,
.topicBloc .actionLinks {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: max-content;
	margin: 0 0 0 auto;
	padding: 0;
	list-style: none;
}
.forumHeader .actionLinks > li,
.topicBloc .actionLinks > li {
	margin-left: 10px;
}
.forumActions, 
.topicActions {
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
	width: max-content;
	gap: 4px;
}
.forumActions {
	flex-direction: column;
	align-items: flex-end;
	justify-content: flex-start;
}
.forums .forumActions button, 
.forums .topicActions button, 
.forums .forumActions .button, 
.forums .topicActions .button {
	margin-right: 0;
	white-space: nowrap;
}
.noForumsTopics {
	margin-bottom: 10px;
	padding: 10px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.forumsTopics {
	margin-bottom: 10px;
}
.noForumsTopics .sak-banner-info,
.forumsTopics .sak-banner-info {
	margin: 0;
}
.forumsTopics .forumTopic {
	display: flex;
	width: 100%;
	background-color: #fff;
}
.forumsTopics .forumTopic:hover {
	background-color: #f5f5f5;
}
.forumTopic .topicTitle {
	flex: 2;
	padding: 10px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.forumTopic .topicCountAndActionsContainer {
	display: flex;
	width: 45%;
}
.forumTopic .messagesCountColumn,
.forumTopic .unreadCountColumn,
.forumTopic .actionsColumn {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: 1 1 0;
	padding: 10px;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}
.forumTopic .actionsColumn {
	flex-grow: 0;
}
@media only screen and (max-width:1100px) {
	.forumsTopics .forumTopic {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto;
		grid-template-areas: 'topicDetails' 'topicContainer';
		border: 1px solid #ddd;
		border-top: 0 none;
	}
	.forumTopic .topicTitle {
		grid-area: topicDetails;
		border: 0 none;
	}
	.forumTopic .topicCountAndActionsContainer {
		grid-area: topicContainer;
		justify-content: space-between;
		width: 100%;
		padding: 10px;
		gap: 10px;
	}
	.forumTopic .messagesCountColumn,
	.forumTopic .unreadCountColumn,
	.forumTopic .actionsColumn {
		justify-content: flex-start;
		flex: 0 1 auto;
		border: 0 none;
		padding: 0;
	}
	.forumTopic .messagesCountColumn > span {
		white-space: nowrap;
	}
	.forumTopic .unreadCountColumn > span {
		/* hide when unread count is 0, or in other words, there are no new messages */
		display: none;
	}
	.forumTopic .unreadCountColumn > span.badge-new {
		/* only show the unread count when there are new messages */
		display: inline-block;
	}
	.forumTopic .unreadCountColumn + .actionsColumn {
		margin-left: auto;
	}
}
.topicTitle h1 {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 4px;
}
.topicTitle h2,
.topicTitle h3 {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	margin: 0;
	padding: 8px 0; /* to match the button height */
	gap: 4px;
	font-size: 16px;
	font-weight: normal;
}
.topicTitle sakai-rubric-student-preview-button {
	/* standardize the size of the Rubrics icon across pages and headings to match the badge size and forumTitle heading */
	font-size: 18px;
}
.forumsNavBar + .page-header {
	margin-top: 0;
}
.topicBloc a.show,.topicBloc a.hide,.forumHeader a.show,.forumHeader a.hide,.singleMessage a.show,.singleMessage a.hide, .singleMessageReply a.show,.singleMessageReply a.hide{
	/*show and hide descr links in various places*/
	display: flex !important;
	align-items: center;
	margin: 0;
	font-size: 1em;
	text-decoration: none !important;
}
.topicBloc a.show img,.topicBloc a.hide img,.forumHeader a.show img,.forumHeader a.hide img, .singleMessage a.show img,.singleMessage a.hide img,  .singleMessageReply a.show img,.singleMessageReply a.hide img{
	/*image associated with show and hide descr links in various places*/
	vertical-align: middle;
	padding: 2px 0;
}
.toggle{
/*	long description toggled container*/
	padding-left:0;
	font-size: .92em;
	line-height: 1.5em;
}
.topicBloc{
	/*inner container topic metadata in forum list view, or single topic view*/
	border-top: 0 none;
	border-bottom: 1px solid #e5e5e5;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	padding: 0 .5em;
	margin: 0;
}
.topicBloc.topicTitle {
	margin: 0;
	padding: 0;
	border: 0 none;
}
.topicBloc td{
	padding-left: .5em;
	padding-top: .5em;

}
.topicBloc td td{
	padding-left: 0;
}
.topicBlocLone td {
	padding: 0;
}
.singleMessage .title,
.singleMessageReply .title,
.pendingApproval .title{
	/*	title for all the above cases*/
	font-weight: bold;
}
.forumHeader .shortDescription,
.topicTitle .shortDescription,
.topicBloc .shortDescription{
	/*	short description whenever one occurs - do not use padding */
	display: block;
	margin: 4px 0 0 0;
}
.topicsColumn .topicTitle .shortDescription {
	margin: 0;
}
.childrenNewNumber{
	margin-left: 5px;
}
.childrenNew{
	color: #e90;
	font-size:87%;
	font-weight:bold;
	padding: 1px 2px;
	/*	display:none; - uncomment to hide the message associated with parents of new messages*/
}
.childrenNewZero {
    color: #555555;
    font-size: 85%;
    font-weight: normal;
    margin-left: 5px;
}
.sakai-table-buttonContainer a[href].button {
	margin-top: 10px;
}
.sakai-table-buttonContainer.threadOptions {
	margin-bottom: 10px;
}
.sakai-table-buttonContainer.threadOptions > .button:last-of-type {
	margin-right: 0;
}

.topicIcon{
/*	display:none; 	comment to hide blue or orange speech balloons by topics in Forum list view */
}
/* PART 2 - TOPIC/THREAD VIEWS*/
.table.messagesFlat,
.table.messagesThreaded{
	table-layout: fixed;
	width: 100%;
	margin-bottom: 0;
}
.messagesFlat tbody tr td div.hierItemBlock,
.messagesThreaded tbody tr td div.hierItemBlock{
	padding: 0 10px;
	border-left: 4px solid var(--msg-secondary-border-colour);
}
.messagesThreaded > tbody > tr > td.bogus,
.messagesFlat > tbody > tr > td.bogus {
	padding: 10px 0;
}
.messageBody .textPanel {
	margin: 10px 0;
	overflow-wrap: break-word;
}
.titleBarBorder{
	/*create an underline under message title + metadata in view body thread view*/
	background: #fff;
	margin: 2px 0 0 0;
}
.messagesThreaded tbody tr.hierItemBlock td.bogus:first-child{
	/*first message in thread in visible body view*/
	border-left: 4px solid var(--msg-primary-border-colour);
	width: 100%;
}
.messagesThreaded tbody tr.hierItemBlock td.bogus:first-child > div{
	margin: 0;
	border: none !important;
}
.hierItemBlock .attachListJSF {
	margin-bottom: 10px;
}
.allMessages {
	border: 1px solid #ddd;
	width: 100%;
}
.allMessages img {
	max-width: none;
}
.allMessages thead th {
	padding: 8px;
	border: 1px solid #ddd;
	background-color: #eee;
}
.allMessages thead th a {
	padding-right: 15px;
}
.allMessages thead th[data-column="1"], .allMessages thead th[data-column="5"] {
	text-align: center;
}
.allMessages.hideMoveCol tr td:first-child, .allMessages.hideMoveCol tr th:first-child {
	display: none;
}
.allMessages thead th.header{
	text-align: left;
}
.allMessages tbody td {
	padding: 8px;
	border-left: 1px solid #ddd; /* column borders */
}
.allMessages tbody td.messageTitle {
	border-left: 1px solid transparent; /* no column border between expanding arrows and Conversation title */
}
.allMessages tbody td.attach{
	padding: 8px;
	text-align: center;
}
.allMessages tbody td.messageTitle a[href] {
	/* allocate some space for any badges */
	margin-right: 4px;
}
.allMessages tbody td.messagesCountColumn span, .allMessages tbody td.unreadCountColumn span {
	white-space: nowrap;
}
.allMessages tbody td.unreadCountColumn + td {
	padding: 8px;
}
.allMessages .markAsReadIcon.button {
	margin: 0;
}
.pendingApproval{
	/*listing of a message pending aproval*/
	border-left: 2px solid #ccc;
	margin: 0;
}
.messageMetadata {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--msg-metadata-border-colour);
}
.messageSubject .title {
	/* allocate some space for any badges */
	margin-right: 4px;
	text-decoration: none;
}
.messageAuthor,
.messageAuthor a[href] {
	color: #555;
	font-weight: bold;
	text-decoration: none;
}
.messageDate {
	margin-left: 4px;
	font-size: 12px;
}
.messageCounts {
	display: flex;
}
.messageWordCount,
.messageReadByCount {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: max-content;
}
.messageWordCount #counttotal,
.messageReadByCount .readByCount {
	font-weight: bold;
}
.messageWordCount {
	margin-right: 10px;
	padding-right: 10px;
	border-right: 1px solid #ccc;
}
.itemToolBar {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	column-gap: 4px;
}
.itemToolBar.itemToolBar a.button,
.itemToolBar.itemToolBar a.button {
	margin: 10px 0 0 0;
}
.itemToolBar.itemToolBar .replyButton.button {
	margin-right: auto;
}
.itemToolBar a.markAsReadIcon.button {
	margin-right: auto;
}
.itemToolBar a.markAsReadIcon.button.marginReset {
	margin-right: 0;
}
.forumsTableFooter {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
/*PART 3 - SINGLE MESSAGE DISPLAY*/
.singleMessage{
	/*title + metadata block of a single message display*/
	padding: 10px;
	border-left: 4px solid var(--msg-primary-border-colour);
	background: #f9f9f9;
}
.singleMessageReply{
	/*title + metadata block of a single message display*/
	border:1px solid #ccc;
	background:#ffe;
	padding: 10px;
}
#permalinkHolder{
	border:1px solid #ccc;
	display:none;
	background:#ffe;
	position:absolute;
	padding:5px;
	z-index: 1;
}
#permalinkHolder a{
	font-weight:bold;
	top:0;right:4px;
	outline:none;padding:0;
	display:block;
	float:right;
}
#permalinkHolder textarea{
	width: 100%;
	height: 200px;
}
#dfCompose .topicTitle h2 {
	font-weight: bold;
}
.replyContainer {
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	background-color: #f9f9f9;
}
.replyContainer .forumsCollapseTrigger {
	display: block;
	/* indent the disclosure triangle to align with the vertical line of the post: indent + half of the border - half of the triangle icon width */
	margin-left: calc(1em + (4px / 2) - (14px / 2));
}
.replyContainer .forumsCollapseTrigger:hover {
	text-decoration: none;
}
.replyContainer,
.composeAnonWarning,
.composeContainer {
	max-width: 800px;
	width: 100%;
}
.composeContainer > label,
.composeContainer > input[type="text"],
.composeContainer > table {
	width: 100%;
}
.composeContainer > input[type="text"] {
	/* selet styles taken from default Bootstrap input styles used elsewhere in Sakai */
	display: block;
	height: 34px;
	padding: 8px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
}
.messageComposeHeader {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin: 10px 0 5px 0;
}
.messageComposeHeader > label {
	margin-bottom: 0;
}
.attachmentsContainer {
	width: 100%;
	margin-top: 10px;
	padding: 0 10px;
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	background-color: #f9f9f9;
}
/*PART 4 MESSAGE TYPES */
.messageAlert{
	list-style: none;
	background: #FFEEEE url(../images/exclamation.gif) 5px 5px no-repeat;
	border: 1px solid #FF5555;
	color: #FF5555;
	margin: .5em 0;
	padding: 4px 0 4px 2em;
}
.messageInformation{
	background: #ffe url(../images/asterisk_yellow.gif) 5px 5px no-repeat;
	border: 1px solid #d93;
	color: #d93;
	margin: .5em 0;
	padding: 4px 0 4px 2em;
}
.messageComfirm{
	background: #cd5 url(../images/accept.gif) 5px 5px no-repeat;
	border: 1px solid #790;
	color: #779900;
	margin: .5em 0;
	padding: 4px 0 4px 2em;
}
span.messageAlert,
span.messageInformation,
.messageComfirm{
	padding-right: 1em;
}
/*utils, special cases, sakai overrides*/
.upLevel{
	/*go up one level link, uncomment to show*/
	/*display:none*/
}
td.attach{
	vertical-align: middle;
	padding: 2px 0;
}
td div.title{
	font-weight: bold;
	font-size: 1.3em;
}
.unreadMsg a:link,
.unreadMsg a:visited{
	color: #f55 !important;
	text-decoration: none;
}
.selChanged{
	/*flag an item as changed in organize view*/
	border: 1px solid #aaa;
	background-color: #fc6;
}
.attachPanel{
/*panel listing attachmetns when in edit mode for forum/topic/message*/
	border: 1px solid #e5e5e5;
	background: #fff;
}
.attachPanel th {
	background-color: #eee;
}
.attachPanel td.attach{
	/* image's width plus cell's padding: */
	width: 32px;
}
.attachListJSF {
	margin: 0;
	padding: 0;
	list-style: none;
}
.attachListJSF > li {
	line-height: 2;
}
.attachListJSF img {
	margin-right: 4px;
}
.permissionTable {
	width: 675px;
}
.permissionRoleLabel {
	display:inline-block;
	width:14em;
}

.permissionPanel > table {
	padding-top: .3em;
}

.permissionPanel td{
	padding-left: 1em;
	vertical-align:top;
}

.permissionPanel .checkbox {
	display:block;
	border: none;
}

.permissionRadioGroup {
	border: 1px solid #aaa;
	display:block;
	padding:.3em;
}

.permissionRow .ui-icon { display: inline-block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; vertical-align:bottom; }
.permissionRow .ui-icon { width: 16px; height: 16px; background-image: url(ui-lightness/images/ui-icons_222222_256x240.png); }
.permissionRow .ui-icon-triangle-1-s { background-position: -64px -16px; }
.permissionRow .ui-icon-triangle-1-e { background-position: -32px -16px; }
.permissionRow .ui-accordion-content { background: #eee; border: 1px solid #ccc; }
.permissionRow span.ui-accordion-header {
	margin: 0 0 0.5em 4em;
	display:inline-block;
}
.permissionRow .ui-accordion-header.ui-state-active {
	border-bottom:none;
}

table.discTria{
	/*some adjustments to sakai discTria - to make whole clickable looking*/
	border: none;
	background: #ddd;
	border:1px solid #ddd
}
table.discTria h2{
	display: inline;
	margin: 0;
	padding: 3px;
}
table.discTria img {
	vertical-align: middle;
}
table.discTria:hover{
	cursor: pointer;
	border:1px solid #aaa
}
.discTria{
	background: transparent;
}
.inactive{
	color: #707070;
}
.printBlock{
	/*top  most parent of any printable block - used in print previews/pretty prints*/
	margin: 1em;
	padding: .5em;
	font-size: 93%;
	font-family: Georgia,"Times New Roman",Times,serif;
	line-height:1.5em;
}
.printBlock .textPanel  a:after{
	content: " (" attr(href) ")";
}
.printTable td .title{
	font-weight: bold;
}
.printTable td div.sak-banner-info {
	background-color: unset;
}
.printBlock .bordered{
	border-color: #ccc;
}
.printBlock .messagePending{
	background: #ccc;
	color: #000;
	padding: 2px;
	margin-right: 5px;
	border: 1px solid #000;
}
.printBlock .messageDenied{
	color: #fff;
	background: #000;
	padding: 3px;
	margin-right: 5px;
}

a .textPanelFooter{
	color: inherit;
}

.lastRevise{
	margin:.3em 0;
	padding:.3em 0;
}
form{
	margin-bottom:0;
}
.messageCommentWrap {
	max-width: max-content;
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fff;
}
.messageCommentMD{
	display: inline-block;
	margin-bottom: 4px;
	border-bottom: 1px solid #ddd;
	color: #555;
}
.threadMovedMsg{
    font-size:1em;
    color:#555555; 
}
.threads-to-move {
	margin-bottom: 10px;
}
.topic-source-list {
	margin: 10px;
}
.calWidget{
    vertical-align:middle;
}
.calWidget img{
     vertical-align:middle;
     margin-right:3em
}
.authorImage {
	float: left;
	display: block;
	text-align: center;
	padding-right: .25em;
	padding-bottom: .3em;
}
.authorImage img{	
	max-width: 8em;
	max-height: 5em;
}
.singleMessage .authorImage img{	
	max-width: 5em;
	max-height: 4em;
}
img.authorImage {
	display: inline-block;
	float: none;
	max-width: 3.5em;
	max-height: 2.5em;
	width: auto !important;
	vertical-align: bottom !important;
}
.moreMenuLink span{
    padding-right:15px;
    background:transparent url(../images/silk/bullet_arrow_down.png) bottom right no-repeat;
    
}    
.moreMenu{
    background:#fff;
    list-style:none;
    margin:0;
    padding:0px;
    border:1px solid #ccc;
}
.moreMenu li{
    
}
.moreMenu li a{
    display:block;
    padding:5px;
}
.moreMenu li a:hover{
    background:#eee;
    text-decoration:none;
}
div.msgcntr-profile-qtip {
	max-height: 220px;
    max-width: 640px;
    background-color: #fff;
}
.qtip-content .profile2-profile-content{
    float: right;
    overflow: auto;
    max-height: 200px;
}
.createTopicsForGroupsPanel {
    margin-left: 3em;
    margin-top: 0.3em;
    display: block;
}

.createForumsForGroupsPanel {
    margin-left: 3em;
    margin-top: 0.3em;
    display: block;
}

.navIntraTool li span a img,
.navIntraTool li {
    vertical-align: middle;
}

#buttonBlocker,
.buttonBlocker {
    z-index:2;
    display:none;
    padding:0 8px;
    background: transparent url(../images/trans.gif) top left repeat;
    opacity:0;
    position:absolute
}
#buttonBlocker:hover,
.buttonBlocker:hover {
    cursor:progress;
}

.forumsRank {
    min-height: 35px;
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    }

.forumsRank .rankImage {
    width: 35px;
    height: 35px;
    display: block;
    float: left;
    margin:0 5px 0 0;
    }

.forumsRank .forumsRankNameContainer {
    display: inline-block;
}

.forumsRank .forumsRankNameContainer .forumsRankName {
    color: #000000;
    font-size: 0.95em;
    padding: 0 !important;
    text-align: left;
    margin: 0;
    display: block;
}

.disable_a_href{
    pointer-events: none;
}

#msgForum\:grade-message-options{
	width: 100%;
}

#msgForum\:grade-message-options label{
	width: 25%;
	display:inline-block;
}
#msgForum\:assignment{
	margin-right: 0.5em;
}

 /* Styles for synoptic */
#synopticForm\:myWorkspaceUnread\:myWorkspaceTable{
	width:auto;
	table-layout:fixed;
}

#synopticForm\:myWorkspaceUnread\:myWorkspaceTable th{
	white-space: normal;
	vertical-align: initial;
}

#synopticForm\:myWorkspaceUnread\:myWorkspaceTable .messagesHeader{
	width:20%;
}

#synopticForm\:myWorkspaceUnread\:myWorkspaceTable .forumsHeader{
	width:20%;
}

#synopticForm\:myWorkspaceUnread\:myWorkspaceTable .siteHeader{
	width:60%;
}

/* Styles for modal */
.close-button {
	float: right;
	cursor: pointer;
	font-size: 20px !important;
}

#revise\:closeDateSpan #revise\:closeDate,
#revise\:openDateSpan #revise\:openDate {
	width: auto;
	margin-left: 10px;
}

.openDateSpan {
	display: block;
}

.singleTopicHeader {
	margin-bottom: 10px;
}
.singleTopicHeader.page-header {
	margin: 0;
}
.singleMessage.suppressLinkTitleDisplay a.title,
.singleTopicHeader.suppressLinkTitleDisplay a.title,
.singleForumHeader.suppressLinkTitleDisplay a.title,
.suppressAuthorLinkDisplay .singleMessage .msgAuthorStatsLink,
.standardCrumbs .suppressForumCrumbLinkDisplay,
.suppressThreadCrumbLink .threadCrumb a,
.suppressTopicCrumbLink .topicCrumb a,
.suppressForumCrumbLinkDisplay,
.suppressForumCrumbLink .forumCrumb a,
.dfMsgGradeForm .topicTitle .fa.fa-table
{
	text-decoration: none;
	color: #212121;
	pointer-events: none;
	cursor: default;
}

.hideThreadCrumb .threadCrumb,
.hideTopicCrumb .topicCrumb
{
	display: none;
}

.disabledMoveLink
{
	pointer-events: none;
}

.badge-draft, 
.badge-locked, 
.badge-moderated,
.badge-new,
.badge-unavailable,
.badge-inactive,
.badge-post-first,
.badge-anon,
.messageNew,
.messagePending,
.messageDenied {
	display: inline-block;
	height: 20px;
	margin: 0;
	padding: 4px;
	border-radius: 4px;
	background-color: transparent;
	line-height: 1;
	color: #444; /* needed for colour contrast with badge background colours */
	font-size: 12px;
	font-weight: bold;
	white-space: nowrap;
}
.messageNew + .messageDenied,
.messageNew + .messagePending {
	/* space out the labels when they come after the New badge */
	margin-left: 4px;
}
.badge-draft {
	background-color: #f8deae;
}
.badge-locked {
	background-color: #fbced0; 
	color: #333; /* needed for colour contrast with badge background colours */
}
.badge-moderated {
	background-color: #f5dfb0;
}
.badge-new,
.messageNew {
	background-color: #eaea21;
}
.badge-unavailable {
	background-color: #fbbf72;
	color: #333; /* needed for colour contrast with badge background colours */
}
.badge-inactive {
	background-color: #f3Afd6;
	color: #303030; /* needed for colour contrast with badge background colours */
}
.badge-post-first {
	background-color: #b5ffc8;
}
.badge-anon {
	background-color: #aeeef8;
}
.messagePending{
	background-color: #91d7ee;
	color: #333; /* needed for colour contrast with badge background colours */
}
.messageDenied{
	background-color: #ffadbb;
}
.forumsNavBar {
	display:flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.standardCrumbs {
	display: flex;
	flex-wrap: wrap;
	margin: 10px 0;
	padding: 7px 0; /* to match the navigation button height and for room to show the outline */
	list-style: none;
}
.standardCrumbs > li + li::before {
	content: "\f105";
	padding: 0 10px;
	font-family: FontAwesome;
}
.view-message-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	margin-left: auto;
}
.view-message-nav > a[href].button,
.view-message-nav > span {
	margin: 10px 0 10px 4px;
}

.topicViewActions #messNavHolder
{
	display: flex;
}

.topicViewActions.sakai-table-toolBar .sakai-table-viewFilter
{
	flex-wrap: wrap;
}

.topicViewActions.sakai-table-toolBar .sakai-table-viewFilter .button
{
	margin-top: 10px;
}

.topicViewActions.sakai-table-toolBar .sakai-table-buttonContainer.threadOptions .button
{
	margin-right: 0px;
	margin-left: 4px;
}

@media only screen and (min-width: 1031px)
{
	.topicViewActions .threadOptions /* this has to be in a media query because it always wins specificity against the default sakai-table-toolBar styles*/
	{
		justify-content: flex-end;
	}
}

@media only screen and (max-width: 1030px)
{
	.topicViewActions.sakai-table-toolBar .sakai-table-filterContainer,
	.dfViewThreadForm .sakai-table-toolBar .sakai-table-filterContainer
	{
		margin-bottom: 0;
	}
}

.composeReply
{
       display: flex;
       flex-direction: column;
       gap: 10px 0;
}

@media only screen and (min-width: 1840px)
{
	.composeReply
	{
		flex-direction: row-reverse;
		gap: 0 20px;
		justify-content: flex-end;
	}

	.replyContainer
	{
		width: 100%;
		height: fit-content;
		margin-top: 25px;	/* height of Reply Title label */
	}
}

.composeContainer #dfCompose\:errorMessages
{
	padding-left: 0;
}

.messageComposeHeader .extWordCount
{
	display: none;
}

.composeReply .composeContainer .messageComposeHeader a.button
{
	margin-right: 0;
}

/* temporary styles to fix Lessons missing Forums SASS rules for Settings pages */
#revise .checkbox input[type="checkbox"] {
	margin: 0;
}
#revise .checkbox input[type="checkbox"] + label {
	margin-left: 10px;
	padding: 0 10px;
}
