.header {
    height:auto;
    padding-top:8px !important;
    cursor:pointer;
}
.allMessages .headerSortDown a, .allMessages .headerSortUp a {
    background: url(../images/sortascending.gif) no-repeat right;
    background-position: 100% center;
    padding-right: 15px;
}

.allMessages .headerSortUp a {
    background: url(../images/sortdescending.gif) no-repeat right;
}

.rightAlignColumn{
    text-align: right;
}
