#twitterDialog h2 {
  font-size: 120%;
  font-weight: bold;
  white-space: normal !important;
}
#twitterDialog p {
  margin: 5px 5px 15px 0;
  white-space: normal !important;
}
#twitterDialog .cke_dialog_ui_hbox_child {
  vertical-align: middle;
}
#twitterDialog .cke_dialog_ui_input_select {
  width: 100%;
}
.twitter_preview {
  width: 500px;
  height: 500px;
  box-sizing: border-box;
}
