.#{$namespace}sakai-sitesetup{

	.course-section{
		max-width: 500px;
	}

	@media #{$phone}{
		#flashNotif{
			width: 95%;
			left: 2.5%;
		}
	}
	
	.indnt1
	{
		margin-left: 1em;
	}
	.indnt2
	{
		margin-left: 2em;
	}
	.indnt3
	{
		margin-left: 3em;
	}
	.indnt4
	{
		margin-left: 4em;
	}
	.indnt5
	{
		margin-left: 5em;
	}
	.indnt6
	{
		margin-left: 6em;
	}
	.indnt7
	{
		margin-left: 7em;
	}
	.indnt8
	{
		margin-left: 8em;
	}
	.indnt9
	{
		margin-left: 9em;
	}
	.indnt10
	{
		margin-left: 10em;
	}
}
