.#{$namespace}sakai-synoptic-announcement, .#{$namespace}sakai-summary-calendar, .#{$namespace}sakai-synoptic-messagecenter, .#{$namespace}sakai-synoptic-chat, .#{$namespace}sakai-motd, .#{$namespace}sakai-iframe-myworkspace, .#{$namespace}sakai-iframe-service
{
	margin-bottom: 1em;
	border: 1px solid $tool-sub-menu-border-color;
	
	iframe{
		z-index: 0;
	}
}
.#{$namespace}sakai-iframe-site
{
	border: 1px solid $tool-sub-menu-border-color;
}

body > .portletBody > #calendarForm
{
	overflow: hidden;
	padding: $standard-padding;
}