#user-create_edit label, #useredit label
{
    margin-top: 0;
    font-weight: bold;
    color: rgb(85, 85, 85);
}

#useredit .shorttext label, #user-create_edit .shorttext label
{
    display: inline-block;
    float: none;
    text-align:right;
    padding-right:1em;
    min-width: 17em;
}

#user-create_edit .reqStar, #useredit .reqStar
{
    float: none;
}

#user-create_edit input[type="text"], #user-create_edit input[type="password"]
, #useredit input[type="text"], #useredit input[type="password"]
{
    width:  225px;
}

#user-create_edit #strengthInfo, #useredit #strengthInfo
{
    display: block;
    position: absolute;
    left: 36em;
    margin-right:1em;
    min-width:100px;
    margin-top: -6em;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: #000;
}

#user-create_edit #strengthInfo:before, #useredit #strengthInfo:before
{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: -10px;
    border-top: 10px solid transparent;
    border-right: 10px solid #ccc;
    border-bottom: 10px solid transparent;
}

#user-create_edit #matchMsg, #user-create_edit #strongMsg, #user-create_edit #weakMsg,
#useredit #matchMsg, #user-create_edit #noMatchMsg, #useredit #strongMsg, #useredit #noMatchMsg, #useredit #weakMsg, #user-create_edit #emailWarningMsg,
#useredit #emailWarningMsg, #useredit #curPassReqMsg, #user-create_edit #failMsg, #user-create_edit #moderateMsg,
#useredit #failMsg, #useredit #moderateMsg
{
    display: block;
    margin: 0.5em 0 0.5em 17.5em; /*17.5 is calculated by taking the min-width of the label and adding 0.5*/
    padding-left: 1.5em;
    vertical-align: top;
    line-height: 1.3em;
} 

#user-create_edit #noMatchMsg, #user-create_edit #failMsg, #useredit #noMatchMsg, #useredit #failMsg,
#user-create_edit #emailWarningMsg, #useredit #emailWarningMsg, #useredit #curPassReqMsg
{
    background: transparent url("/library/image/silk/cancel.png") no-repeat left center;
    color: #000;
}

#user-create_edit #matchMsg, #user-create_edit #strongMsg, #useredit #matchMsg, #useredit #strongMsg,
#user-create_edit #moderateMsg, #useredit #moderateMsg, #user-create_edit #weakMsg, #useredit #weakMsg
{
    background: transparent url("/library/image/silk/accept.png") no-repeat left center;
    color: #000;    
}

#user-create_edit #strengthBar, #useredit #strengthBar
{
    background-color: #ccc;
    width: 220px;
    height: 5px;
    margin: 0.5em 0em 0.5em 17.5em;
    text-align: left;
}

#user-create_edit #strengthBarMeter, #useredit #strengthBarMeter
{
    display: inline-block;
    width: 0%;
    height: 100%;
    background-color: #900;
}

#user-create_edit .act input[type="submit"], #useredit .act input[type="submit"],
#userViewForm .act input[type="submit"]
{
    display: inline-block;
    margin: 0 1em;
}

#userViewForm label
{
    font-weight: bold;
    color: rgb(85, 85, 85);
    display: inline-block;
    float: none;
    text-align: right;
    margin-right: 1em;
    min-width: 9em;
}

#userViewForm .act, #user-create_edit .act, #useredit .act
{
    text-align: left; /* SAK-31159 - Consistency with the rest of the tools */
}

#user-create_edit fieldset, #useredit fieldset, #userViewForm fieldset
{
    border: 2px solid rgb(200, 200, 200);
    padding: 1em;
    position: relative;
}

#user-create_edit fieldset > div.shorttext{
    margin: 0 0 0.8em 0;
}

form .shorttext{
    margin: 0 0 0.5em 0;
} 

#user-create_edit fieldset
{
    display:inline-block;
    width: 100%;
}

.createBlurb
{
    display:table;
    width:33em;
}

.createBlurb p
{
    margin: 10px 0;
}

#userViewForm fieldset legend, #user-create_edit fieldset legend, #useredit fieldset legend
{
    padding: 0 0.5em;
    color: rgb(85, 85, 85);
    width:auto;
    border-bottom:0px;
}

.spinner {
    display: inline;
    vertical-align: middle;
    visibility: hidden;
}

#eventSubmit_doSave {
    float: right;
}

@media only screen and (max-width :800px){

    #userViewForm label, #useredit .shorttext label, #user-create_edit .shorttext label{        
        display: block;
        text-align: left;
    }

    #user-create_edit #matchMsg, #user-create_edit #strongMsg, #user-create_edit #weakMsg,
    #useredit #matchMsg, #useredit #strongMsg, #useredit #noMatchMsg, #useredit #weakMsg, #user-create_edit #emailWarningMsg,
    #useredit #emailWarningMsg, #useredit #curPassReqMsg, #user-create_edit #failMsg, #user-create_edit #moderateMsg,
    #useredit #failMsg, #useredit #moderateMsg{
        margin-left: 0.5em;
    }

    #user-create_edit #noMatchMsg{
        margin-left: 0.5em;
    }

    #user-create_edit #strengthInfo, #useredit #strengthInfo{
        position:relative;
        margin-top: 1.5em;
        margin-right:0px;
        left:0px;
    }

    #user-create_edit #strengthInfo::after, #useredit #strengthInfo::after {
        bottom: 100%;
        left: 3%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: #ccc;
        border-width: 10px;
    }
    
    #user-create_edit label, #useredit label{
        margin-top: 20px;
    }

    #user-create_edit #strengthInfo::before, #useredit #strengthInfo::before {
        display:none;
    }

    #user-create_edit input[type="text"], #user-create_edit input[type="password"]
    , #useredit input[type="text"], #useredit input[type="password"]{
        width:  100%;
    }

    #user-create_edit #strengthBar, #useredit #strengthBar{
        width:100%;
        margin:0.5em 0em 0.5em 0em;
    }
}
