@import "_calendar_variables";


.#{$namespace}sakai-schedule {

	input, textarea{
		max-width: 100%;
	}

	.shorttext label {
		vertical-align: top;
		min-width: 10em;
		@media #{$phone}{
			min-width: 96%;
		}
	}

	.shorttext a{
		overflow-wrap: break-word;
	}

	.shorttext .reqStar + label {
		min-width: 9.4em;
		@media #{$phone}{
			min-width: 96%;
		}
	}

	.itemSummary {
		textarea {
			width: 100%;
		}
		@media #{$phone}{
			th, td.header{
				white-space: initial;
			}
			input[type="text"], textarea {
				width: 100%;
			}
		}
	}

	table.calendar
	{
		table-layout: fixed;
		border-collapse: collapse;
		font-size: $default-font-size;
		background-color: $calendar-table-background-color;

		td, th
		{
			text-align: center;
			border-collapse: collapse;

			a
			{
				color: $link-color;
				text-decoration: none;

				&:hover
				{
					text-decoration: underline;
				}
			}
		}
		
		th
		{
		/*	vertical-align: bottom; */
			color: $calendar-column-heading-color;
			font-weight: normal;
			
			.viewLinkControl
			{
				text-align: left;
			}
		}

		.event{
			background-color: #f9f9f9;
			border:  #bbb;

			a 
			{
				overflow-x: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				color: $calendar-event-text-color;
			}
		}
		
		&.calWeek
		{
			.event a
			{
				white-space: normal;
			}
		}

		.bgActivity {
		    background-color: $calendar-event-background-color;
		    border: 1px double $calendar-event-border-color;
		    a {
				color: $calendar-event-text-color;
			}
		}

		.bgWithoutActivity {
		    background-color: #fff;
		    border: 1px solid $calendar-day-border-color;
		}

		.borderGrayYear {
		  /*background-color: #eee;*/
		    border: 1px solid $calendar-day-border-color;
			opacity: 0; /* hides days in month calendar */
		}

		.borderGrayDayWeek {
		    border-collapse: collapse;
		    border: 1px solid $calendar-day-border-color;
		}

		.borderGrayBackground {
		    background-color: $calendar-event-background-color;
		    border-top: 1px solid $calendar-day-border-color;
			border-right: 1px solid $calendar-day-border-color;
			border-bottom: none;
			border-left: 1px solid $calendar-day-border-color;

		    a {
				color: $calendar-event-text-color;
			}
		}

		.borderGrayTodayBgCenter {
		    background-color: $calendar-event-background-color;
		    border-left: 1px solid $calendar-event-border-color;
		    border-right: 1px solid $calendar-event-border-color;
		    border-top: 1px solid $calendar-day-border-color;
		}

		.borderGrayTodayEmptyMiddleBottom {
		    background-color: $calendar-day-background-color;
		    border: 1px solid $calendar-day-border-color;
		}

		.borderGrayTodayEmptyMiddleCenter {
		    background-color: $calendar-day-background-color;
		    border-top: 1px solid $calendar-day-border-color;
		}

		.borderGrayTodayLeftBottom {
		    border-bottom: 1px solid $calendar-day-border-color;
		    border-left: 1px double $calendar-day-today-border-color;
		    border-right: 1px solid $calendar-day-border-color;
		    border-top: 1px solid $calendar-day-border-color;
		}

		.borderGrayTodayLeftCenter {
			border-bottom: 1px solid $calendar-day-border-color;
		    border-left: 1px double $calendar-day-today-border-color; /* using double here to resolve the border-collapse conflict */
		    border-right: 1px solid $calendar-day-border-color;
		    border-top: 1px double $calendar-day-border-color;
		}

		.borderGrayTodayMiddleCenter {
			border-bottom: 1px solid $calendar-day-border-color;
		    border-left: 1px solid $calendar-day-border-color;
		    border-right: 1px solid $calendar-day-border-color;
		    border-top: 1px solid $calendar-day-border-color;
		}

		.borderGrayTodayRightBottom {
		    border-bottom: 1px solid $calendar-day-border-color;
		    border-left: 1px solid $calendar-day-border-color;
		    border-right: 1px solid $calendar-event-border-color;
		    border-top: 1px solid $calendar-day-border-color;
		}

		.borderGrayTodayRightCenter {
		    border-left: 1px solid $calendar-day-border-color;
		    border-right: 1px solid $calendar-day-today-border-color;
		    border-top: 1px solid $calendar-day-border-color;
		}

		.borderOnlyLeftDay {
		    background-color: $calendar-event-background-color;
			border-right: 1px solid $calendar-day-border-color;
		}

		.borderOnlyLeft {
		    border-left: 1px solid $calendar-day-border-color;
		}

		.borderToday
		{
			background-color: $calendar-day-today-background-color;
			border: 1px double $calendar-day-today-background-color;
			
			a
			{
				color: $calendar-day-today-text-color;
			}
			
			&.event 
			{
				border: 1px double $calendar-today-event-border-color;
				background-color: $calendar-today-event-background-color;
			}
		}

		.borderTodayCenter {
			border-bottom: 1px solid $calendar-day-border-color;
			border-left: 1px double $calendar-day-today-border-color; /* using double here to resolve the border-collapse conflict */
			border-right: 1px double $calendar-day-today-border-color;
			border-top: 1px solid $calendar-day-border-color;
		}

		.borderTodayTop {
		    border-left: 1px double $calendar-day-today-border-color;		/* using double here to resolve the border-collapse conflict */
		    border-right: 1px double $calendar-day-today-border-color;
		    border-top: 1px double $calendar-day-today-border-color;
		}

		.borderTodayWithActivity {
		    background-color: $calendar-today-event-background-color;
		    border: 1px double $calendar-today-event-border-color;

		    a {
				color: $calendar-today-event-text-color;
			}
		}

		.borderTodayWithoutActivity 
		{
		    background-color: $calendar-day-today-background-color;
		    border: 1px double $calendar-day-today-border-color;
			
			a 
			{
		    	color: $calendar-day-today-text-color;
			}
		}

		.borderTopLeft {
		    background-color: $calendar-event-background-color;
		    border-left: 1px solid $calendar-day-border-color;
		    border-right: 1px solid $calendar-day-border-color;
		    border-top: 1px solid $calendar-day-border-color;
		    a {
				color: $calendar-event-text-color;
			}
		}

		.borderTopLeftWhite {
		    border-left: 1px solid $calendar-day-border-color;
		    border-right: 1px solid $calendar-day-border-color;
		    border-top: 1px solid $calendar-day-border-color;
		}

		.borderWhiteYear {
		    background-color: $calendar-event-background-color;
		    border: 1px solid #fff;
		    text-align: center;
		}

		.borderWhite {
		    border-bottom: none;
		    border-left: 1px solid #fff;
		    border-right: 1px solid #fff;
		    border-top: 1px solid #fff;
		}

		.borderGrayTodayCenter, .borderOnlyLeftTodayCenter {
			border-left: 1px double $calendar-day-today-border-color; /* using double here to resolve the border-collapse conflict */
		    border-right: 1px solid $calendar-day-today-border-color;
		    border-top: 1px solid $calendar-day-border-color;
		}

		.borderGrayTodayEmptyRightBottom, .borderGrayTodayEmptyRightCenter {
		    background-color: $calendar-table-background-color;
			border-bottom: 1px solid $calendar-day-border-color;
		    border-right: 1px solid $calendar-day-today-border-color;
		    border-top: 1px solid $calendar-day-border-color;
		}

		.borderGrayTodayMiddleBottom, .borderFullGray {
		    border: 1px solid $calendar-day-border-color;
		}
		
		.borderGrayMonth
		{
			border: 1px solid $calendar-day-border-color;
			
			&.event
			{
				border: 1px double $calendar-event-border-color;
			}
		}

		.borderTodayBottom, .borderGrayTodayBottom, .borderOnlyLeftTodayBottom {
		    border-bottom: 1px double $calendar-day-today-border-color; /* using double here to resolve the border-collapse conflict */
			border-left: 1px double $calendar-day-today-border-color;
		    border-right: 1px double $calendar-day-today-border-color;
		    border-top: 1px solid $calendar-event-border-color;
		}

		.timeCells {
		    background: $calendar-event-background-color;
		}
	}

	table.fieldsTable {
		@media #{$phone}{
			display: inline-table;
			width:100% !important;
		}
	}

	#calendarForm{
		.sectionContainerNav{
			width: 93% !important;
		}
	}
	
	.calendarYearContainer
	{
		margin: 1em 0 1em -2em;		// to compensate for item padding (added below) to left-align properly
	}

	.calendarYearItem {
		max-width: 23em;
		min-width: 17em;
		display: inline-block;
		padding: 2em;						// to space the calendars out from each other
		
		td
		{
			text-align: center;
			
			a, &.borderGrayYear
			{
				line-height: 2.5em;
			}
			a
			{
				padding: 0.5em;
				text-align: center;
			}
		}
	}
	
	.navPanel
	{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		margin: 0;
		
		.listNav
		{
			margin: 0;
		}
	}
	
	.listNav .currentCalendar
	{
		font-size:$default-font-size;
		text-align:center;
	}
	
	.calendarMonthView-date
	{
		display:block;
		margin:0;
		padding:3px;
	}
	
	.calendarMonthView-event 
	{
		padding: 0 $standard-padding $standard-padding $standard-padding;
		text-align: left;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.calendarMonthView-event a
	{
		display:block;
		font-size:$smaller-font-size;
		line-height:2;
	}
	
	.calendarMonthView-event br
	{
		display:none; /* new lines handled by the display:block on the links above */
	}
	
	.calendarMonthView-notCurrentMonthDate 
	{
		opacity: 0.3;
	}
	
	.calendarMonthView-notCurrentMonthDate:hover
	{
		opacity: 1;
	}
	
	.calendarEventTypesLegend
	{
		margin: 2em;
		
		h4
		{
			margin: 0;
			padding: $standard-padding;
			border: 1px solid $calendar-day-border-color;
			background-color: $calendar-event-background-color;
			text-align: center;	
		}
		
		.calendarLegend{
			font-size: $smaller-font-size;
			margin: 0 0 1.5em 0;
		}
	}
	
	.portletBody > ul:nth-of-type(2) a		// to override the navIntraTool bar styles - OWLTODO: change the markup to not be a navIntraTool bar
	{
		@include sakai_button( $button-background-color, $button-border-color, $button-text-color, $button-background-secondary-color );

		&:hover::before
		{
			content: "";
			display: none;
			border: 0 none;
		}
	}
}



.#{$namespace}sakai-schedule, #calendarForm {
	.icon{
			@extend .fa;
			&.icon-calendar-academic-calendar				{	@extend .fa-graduation-cap}
			&.icon-calendar-activity						{	@extend .fa-rocket}
			&.icon-calendar-cancellation					{	@extend .fa-calendar-times-o}
			&.icon-calendar-class-section-discussion		{	@extend .fa-comments}
			&.icon-calendar-class-section-lab				{	@extend .fa-flask}
			&.icon-calendar-class-section-lecture			{	@extend .fa-book}
			&.icon-calendar-class-section-small-group		{	@extend .fa-users}
			&.icon-calendar-class-session					{	@extend .fa-bell}
			&.icon-calendar-computer-session				{	@extend .fa-desktop}
			&.icon-calendar-deadline						{	@extend .fa-hourglass-end}
			&.icon-calendar-exam							{	@extend .fa-check-square-o}
			&.icon-calendar-meeting							{	@extend .fa-clock-o}
			&.icon-calendar-multidisciplinary-conference	{	@extend .fa-cubes}
			&.icon-calendar-quiz							{	@extend .fa-star}
			&.icon-calendar-special-event					{	@extend .fa-certificate}
			&.icon-calendar-web-assignment					{	@extend .fa-code}
	}
}
