/* search results paging styles */
.pagination {
	overflow: hidden;
	padding: 1px;
}

.pageNum  {
	float: left;
	display: block;
	border: 1px solid #d3d3d3;
	margin: 2px;
	padding: 6px 10px;
	cursor: pointer !important;
	background: none repeat scroll 0 0 #f8f8f8;
	text-decoration: none;
}

.currentPageNum {
	background: none repeat scroll 0 0 #e9e9e9;
}

.pageSpan {
	font-weight: bold;
	font-size: 11px;
	color: #333;
	cursor: pointer !important;
}

a:link {
	text-decoration: none;
}
