.Mrphs-sakai-lessonbuildertool{
	.navIntraTool{
		margin: 0 0 0 0;
		padding: 0 0 0 0;
		border-bottom: 0px none;
		li{
			span{
				a{
					border-bottom: 1px solid $tool-border-color;
					display: inline-block;
				}
			}
		}
	}
	.portletBody > * {
		position: inherit;
		top: 0;
	}
	.mainList{
		list-style: none;
		padding: 0 0 0 0;
	}
	.#{$namespace}toolTitleNav
	{
		top: -1.5em;			// OWLTODO: need to fix a better way
	}
}

.hierarchyWrap					// OWLTODO: best spot?
{
	display: flex;
	flex-wrap: wrap;
	padding-right: 425px;		// to make room for Print View/Index/Link/Help buttons - OWLTODO: revise
}