.#{$namespace}siteHierarchy{
	$svg-gradient-shim-threshold: 1 !global;
	background: $background-color;
	min-height: $hierarchy-size;
	font-size: $xlarge-font-size;
	color: $breadcrumbs-color;

	h1{
		color: $background-color;
		font-weight: 300;
		margin: 0 0 0 0;
	}
	a{
		color: $breadcrumbs-color;
		margin: 0 0.5em 0 0;
		padding: 0;
		text-decoration: none;
		&:hover, &:focus
		{
			text-decoration: none;
		}
	}

	.#{$namespace}hierarchy--parent-sites
	{
		display: inline-block;
		
		a:hover, a:focus
		{
			text-decoration: underline;
			
			@media #{$nonPhone}
			{
				color: $breadcrumbs-hover-color;
			}
		}
	}
	
	.#{$namespace}hierarchy--separator
	{
		margin-right: 0.5em;
	}

	/* Show the breadcrumbs on multiple rows (when there are parent sites), and use hover animations */
	@media #{$nonPhone}
	{
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		min-height: initial;
		margin: 0;
		padding: $standard-padding 125px $standard-padding $standard-padding;	// OWLTODO: space for Link/Help links; better way to do this?
		
		.#{$namespace}hierarchy--sites
		{
			width: 100%; 				// to drop it to a new line 	
			line-height: 1;
			font-size: 50%; 			// 10px, based on siteHierarchy's font size	
		}
		
		.#{$namespace}hierarchy--siteName, .#{$namespace}hierarchy--siteNameSeparator
		{
			display: none; 						// hide the site name in the breadcrumbs
		}	
	
		.#{$namespace}hierarchy--parent-sites,
			.#{$namespace}hierarchy--parent-sites + .#{$namespace}hierarchy--siteName
		{
			// when there are parent sites before, show these styles
			display: inline-block;
			margin-bottom: $standard-padding;
		}

		.#{$namespace}hierarchy--siteName a, .#{$namespace}hierarchy--1 a{
			/* Since we'll start on our own line, don't pad */
			margin-left: 0;
		}

		.#{$namespace}hierarchy--siteName a:hover, .#{$namespace}hierarchy--siteName a:focus
		{
			color: $breadcrumbs-hover-color;
			text-decoration: underline;
		}

		/*
		   Force a fixed width for these so we don't jump when switching
		   between a narrow icon and the wider reset icon (or vice versa)
		*/
		.#{$namespace}breadcrumb--icon{
			display: inline-block;
			width: 24px;
			font-size: 1em;
			text-align: center;
		}

		a.#{$namespace}hierarchy--toolName{
			display: flex;
			align-items: center;
			margin-left: 0;
			color: $breadcrumbs-tool-color;
			
			.#{$namespace}breadcrumb--reset-icon{
				display: none;
			}
			.#{$namespace}breadcrumb--toolNameText
			{
				margin-left: 4px;		// give space between icon and text
				line-height: 1;			// to override default body line-height
			}
		}

		a.#{$namespace}hierarchy--toolName:hover, a.#{$namespace}hierarchy--toolName:focus
		{

			.#{$namespace}breadcrumb--icon{
				display: none;
			}

			.#{$namespace}breadcrumb--reset-icon{
				width: 24px;
				text-align: right;
				display: inline-block;
			}
			.#{$namespace}breadcrumb--toolNameText
			{
				text-decoration: underline;
			}
		}
	}

	@media #{$phone}{
		padding: 1em;
		background-color: $primary-color;
		background-image: none;
		color: $background-color;
		position: fixed;
		top: 6em;
		width: 100%;
		z-index: 2;
		@include transition(top 0.25s linear);
		font-size: $default-font-size;
			
		&.moving{
			top: -22.2em;
		}
		h1{
			color: $background-color;
		}
		a{
			border-bottom: 0px none;
			color: $background-color;
			font-size: 1em;

			&:hover, &:focus
			{
				color: $background-color;
			}			
		}
		.#{$namespace}hierarchy--siteName a:hover{
			text-decoration: underline;
		}
		
		a.#{$namespace}hierarchy--toolName:hover{
			border-bottom: 1px solid  $background-color;
		}
		
		.#{$namespace}hierarchy--serviceName, .#{$namespace}hierarchy--serviceNameSeparator{
			display: none;
		}

		.#{$namespace}breadcrumb--reset-icon{
			display: none;
		}
	}



}

.#{$namespace}breadCrumbs{
	margin:auto;
	max-width: calc( 50% - 3em);
}
