.#{$namespace}sakai-samigo{
	.samigo-inline-form {
		td {
			label{
				display: inline;
				margin: 0 0 0 0.3em;
			}
		}
	}
	.samigo-container > .row
	{
		margin-right: 0;		// reset Bootstrap's .row
		margin-left: 0;			// reset Bootstrap's .row
	}

	#samigo-create-new-box, #samigo-create-import-box 
	{
		padding: $standard-padding;
		margin-bottom: $standard-padding;
		border: 1px solid #ccc;
		background: #eee;
		
		h4
		{
			margin: 0 0 15px 0;		// to match the .form-group spacing
		}
		
		& > .form-group:last-of-type
		{
			margin-bottom: 0;
		}
	}
	
	#tabs 
	{
		// reset the jQuery element styles
		
		a, a:link, a:visited
		{
			color: $link-color;
		}
		
		.ui-tabs-nav
		{
			padding: 0 $standard-padding;
			border-top: 0 none;
			border-left: 0 none;
			border-right: 0 none;
			border-bottom: 1px solid #888;
			border-radius: 0;
			background: transparent;
			
			li
			{
				margin-left: 5px;		// separate the tabs a bit
			}
		}
		.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active
		{
			border: 1px solid #888;		// to match the ul above
			border-bottom: 0 solid $background-color;		// to make it look like the tab is active/open
			background: $background-color;
		}
		
		.ui-tabs-panel
		{
			padding: 0 $standard-padding;
			
			table td
			{
				vertical-align: middle;
			}
		}
		
		.ui-tabs-anchor
		{
			cursor: pointer;
			outline: none;
		}
		
		.tablesorter-default td:first-of-type:last-of-type 
		{
			border-bottom: 0 none;
		}
		
		#assessment-status-limiter 
		{
			margin: $standard-padding 0;
		}
	}

	.samigo-question-callout {
			border-left: 5px solid $tool-border-color;
			margin: 2em 0;
			padding: 1.5em 2.5em 1.5em 1.5em;
			input[type="checkbox"], input[type="radio"] {
				margin-right: 0.25em;
			}
	}

	.listNav {
		.inlineForm {
			@extend .panel;
			@extend .panel-default;
			.pager-instruction {
				@extend .panel-heading;
				@extend .small;
				text-align: center;
			}
			display: inline-block;
			fieldset {
				display: inline-block;
			}
			legend {
				display: none;
			}
		}
	}

	.samigo-inline-radio {
		label {
			margin-right: 1em;
		}
	}
	
	.samigo-checkbox {
		label {
			margin: 0 0 0 0.5em;
		}
	}

	.samigo-radio {
		label {
			margin: 0 0 0 0.5em;
		}
	}
	
	.matrixSurvey{
		padding: 0 1em 0 1em;
	}
	
	.feedBackCheck, .feedBackCross{
		margin-right: 0.2em;
	}
	
	.feedBackCheck{
		color: $ok-color;
	}
	
	.feedBackCross{
		color: $error-color;
	}
	
	.feedBackMultipleChoice{
		width: 2em;
	}
	
	.disabledField{
		color: $error-color;
		text-decoration: line-through;
	}

	#assessmentSettingsAction,#itemForm{
		ul{
			list-style: none;
			padding: 0 0 0 0;
		}
	}
	.mcscFixUp > ul,.question-wrapper{
		list-style: none;
		padding: 0 0 0 0;
	}

	#itemForm\:partialCredit_toggle.tier3,
	#itemForm\:mcms_credit_toggle.tier3,
	#itemForm\:discountDiv.tier3{
		margin-left: 3em  !important;
	}

	.divContainer {
		clear: right;
	}

	.divLeft {
		margin-top: 0.5em;
	}

	.divRight{
		text-align: right;
		@media #{$phone}{
			text-align: left;
		}
	}
	
	#itemForm\:discountDiv #itemForm\:answerdsc{
		margin-left: 10px;
		width: 45px;
		@media #{$phone}{
			margin-left: 0px;
		}
	}
	
	.indent1{
		margin-left: 2em;
	}
	
	//This is for jsf labels and checkboxes	
	#itemForm\:chooseAnswerTypeForMC input[type="radio"]{
		@media #{$phone}{
			float:left;
			& + label {
				overflow:auto;
				display:block;
			}
		}
	}
	
	#assessmentSettingsAction .layout-navigation input[type="radio"]{
		@media #{$nonPhone}{
			float:left;
			& + label {
				overflow:auto;
				display:block;
				margin-left: 1.5em;
			}
		}
	}
	
	#assessmentSettingsAction input[type="radio"],
	#assessmentSettingsAction input[type="checkbox"]{
		@media #{$tablet}{
			float:left;
			& + label {
				overflow:auto;
				display:block;
			}
		}
	}
	
	#assessmentSettingsAction input[type="checkbox"]{
		@media #{$tablet}{
			& + label {
			margin-left: 1.5em;
			}
		}
	}

	table{
	   	td{
	   		input[type="checkbox"],input[type="radio"]{
	   			margin-right: 5px;
	   		}
	   	}
	}
	
	#samLiteEntryForm\:data{
		margin-top: 1.2em;
	}
	
	#templateCreateForm{
		label[for="templateCreateForm:tempName"]{
			margin-right: 1em;
		}
	}
	
	.toolTipLink{
		color: $link-color;
		background-color: $link-background-color;
		text-decoration: underline;
		cursor: pointer;
		&:hover{
			color: $link-hover-color;
			background-color: $link-hover-background-color;
			text-decoration:underline;
		}
	}
}
