#chef_start()
#chef_portletContainer()
#chef_portletContent()

<h3>#springMessage("cut.title")</h3>
  #if($errorMessage)
  <p class="errors">
    <span class="alertMessageInline">$springMacroRequestContext.getMessage($errorMessage)</span>
  </p>
  #end
  #if($cutId == $current.nodeId)
    <p>#springMessage("cut.another")</p>
  #else #if($cutChild)
   <p>#springMessage("cut.not")</p>
  #else 
    <div class="instr">
      $springMacroRequestContext.getMessage("cut.intro", [ $cutNode.site.title, $cutNode.path ])
    </div>
    <form method="POST" action="${rootUrl}/paste">
    <input type="submit" value="#springMessage("cut.paste")"/>
    </form>
  #end #end
<form method="POST" action="${rootUrl}/cancel">
  <input type="submit" value="#springMessage("button.cancel")"/>
</form>

#chef_portletContentEnd()
#chef_portletContainerEnd()
#chef_end()