#chef_start()
#chef_portletContainer()
#chef_portletContent()

<h3>#springMessage("delete.title")</h3>
<p>
#springMessage("delete.intro")
</p>
<form method="POST">
<input type="submit" value="#springMessage("delete.button")"/>
</form>


#chef_portletContentEnd()
#chef_portletContainerEnd()
#chef_end()