#chef_start()
#chef_portletContainer()
#chef_portletContent()

<h3>#springMessage("delete.title")</h3>
## Should pull global error.
#springBind("command")
#springShowErrors("" "")

#if ($canDelete)
	#if ($hasChildren)
	<div class="alertMessage">
		#springMessage("delete.multiple")
	</div>
	<p class="instruction">
		#springMessage("delete.multiple.intro")
	</p>
	#else
	<p class="instruction">
		#springMessage("delete.intro")
	</p>
	#end
	<form method="POST">
	<input type="submit" value="#springMessage("delete.button")"/>
	</form>
	<form method="GET" action="$rootUrl">
	<input type="submit" value="#springMessage("delete.cancel")"/>
	</form>
#else
	<div class="alertMessage">
	#springMessage("delete.cannot")
	</div>
	<p>
	#if ($hasChildren)
		#springMessage("delete.cannot.children")
	#else
		#springMessage("delete.cannot.unknown")
	#end
	</p>
	<form method="GET" action="$rootUrl">
	<input type="submit" value="#springMessage("delete.cancel")"/>
	</form>
#end


#chef_portletContentEnd()
#chef_portletContainerEnd()
#chef_end()