#chef_start()
#chef_portletContainer()
#chef_portletContent()

<p class="shorttext">
	<label for="nodepath">Path</label>
	<input type="text" name="nodepath" id="nodepath" size="60" value="${node.path}" readonly="readonly" />
</p>
<p class="shorttext">
	<label for="nodepathhash">Path Hash</label>
	<input type="text" name="nodepathhash" id="nodepathhash" size="60" value="${node.pathhash}" readonly="readonly" />
</p>
<p class="shorttext">
	<label for="nodeid">Id</label>
	<input type="text" name="nodeid" id="nodeid" size="60" value="${node.nodeid}" readonly="readonly" />
</p>
<p class="shorttext">
	<label for="nodeversion">Version</label>
	<input type="text" name="nodeversion" id="nodeversion" size="60" value="${node.version}" readonly="readonly" />
</p>
<form action="#" method="post">
#foreach ( $nodeprop in $node.properties )
<p class="shorttext">
	<label for="value_${nodeprop.name}">${nodeprop.name}</label>
	<input type="hidden" name="_property" value="${nodeprop.name}"/>
	<input type="text" name="_value" id="value_${nodeprop.name}" size="60" value="${nodeprop.value}" />
</p>
#end	

<p class="shorttext">
	<label for="new_name">New Name</label>
	<input type="text" name="_property" id="new_name" size="60" value="" />
</p>
<p class="shorttext">
	<label for="new_value">New Value</label>
	<input type="text" name="_value" id="new_value" size="60" value="" />
</p>
<input type="submit" value="Save"/>
<input type="hidden" name="_action" value="act_setproperty"/>
</form>
<h2>Current Node</h2>
Path: ${node.path}<br/>
Parent:
#if (${node.parent})
<a href="${rootUrl}${node.parent.path}">${node.parent.path}</a>
#else
None
#end
<br/>
Children: 
<ul>
#foreach ( $child in $node.children )
<li><a href="${rootUrl}${child.path}">${child.path}</a></li>
#end
</ul>	
Sites:
<ul>
#foreach ($site in $nodeSites)
<li>$site.title</li>
#end
</ul>

<form method="post">
<input type="hidden" name="_action" value="act_selectsite"/>
<input type="submit" name="Select Site"/>
</form>

<h2>New Node</h2>
<form method="post">
<input type="hidden" name="_action" value="act_addnode"/>
<input type="text" name="_newnode"/>
<select name="_site">
#foreach ($site in $sites)
<option value="$site.id">$site.title</option>
#end
</select>
<input type="submit" value="Add"/>
</form>
#chef_portletContentEnd()
#chef_portletContainerEnd()
#chef_end()