#chef_start()
#chef_portletContainer()
#chef_portletContent()


#if ($current)
  <h3>${current.siteTitle}</h3>
  <dl>
  #if ($current.nodeUrl)
  <dt>Site URL:</dt>
  <dd><a href="$current.nodeUrl" target="_top">$current.nodeUrl</a></dd>
  #end
  #if ($current.siteShortDescription)
  <dt>Description:</dt>
  <dd>$current.siteShortDescription</dd>
  #end
  #if ($other.size() > 0)
  <dt>Other locations:</dt>
  <dd>
    <ul>
      #foreach ($node in $other)
      <li><a href="$node.nodeUrl" target="_top">$node.nodeUrl</a></li>
      #end
    </ul>
  </dd>
  #end
  </dl>
#else
  <h3>No site currently set.</h3>
#end

<form method="post" action="${rootUrl}">
<input type="hidden" name="_action" value="act_selectsite"/>
<input type="submit" value="Replace Site" #if(!$canReplace)disabled="true"#end/>
</form>

<form method="GET" action="${rootUrl}/delete">
<input type="submit" value="Remove Site"/>
</form>

#if($canMove)
<form method="POST" action="${rootUrl}">
  <input type="hidden" name="_action" value="act_cut"/>
  <input type="submit" value="Move Site"/>
</form>
#end



#chef_portletContentEnd()
#chef_portletContainerEnd()
#chef_end()