#chef_start()
#chef_portletContainer()
#chef_portletContent()


#if ($current)
  <h3>Site: ${current.siteTitle}</h3>
  <dl>
  #if ($current.nodeUrl)
  <dt>#springMessage("show.site.url"):</dt>
  <dd><a href="$current.nodeUrl" target="_top">$current.nodeUrl</a></dd>
  #end
  #if ($current.siteShortDescription)
  <dt>#springMessage("show.site.desc"):</dt>
  <dd>$current.siteShortDescription</dd>
  #end
  #if ($other.size() > 0)
  <dt>#springMessage("show.other"):</dt>
  <dd>
    <ul>
      #foreach ($node in $other)
      <li><a href="$node.nodeUrl" target="_top">$node.nodeUrl</a></li>
      #end
    </ul>
  </dd>
  #end
  </dl>
#else
  <h3>#springMessage("show.site.none")</h3>
#end

<form method="post" action="${rootUrl}">
<input type="hidden" name="_action" value="act_selectsite"/>
<input type="submit" value="#springMessage("button.replace.site")" #if(!$canReplace)disabled="true"#end/>
</form>

<form method="GET" action="${rootUrl}/delete">
<input type="submit" value="#springMessage("button.remove.site")"/>
</form>

#if($canMove)
<form method="POST" action="${rootUrl}">
  <input type="hidden" name="_action" value="act_cut"/>
  <input type="submit" value="#springMessage("button.move.site")"/>
</form>
#end

## If you are here and can manage this site you can manage all redirects.
<h3>#springMessage("show.redirects")</h3>
#if ($redirectNodes.size() > 0)
	<form method="POST" action="${rootUrl}/redirect/delete">
	<ul>
		#foreach ($node in $redirectNodes)
		<li>
			$node.path ($node.title) to $node.url #if($node.appendPath)(#springMessage("show.with.path.appended"))#end
			<input type="radio" name="redirectId" value="$node.id">
		</li>
		#end
	</ul>
	<input type="hidden" name="_action" value="act_deleteredirect">
	<input type="submit" value="#springMessage("button.delete")">
	</form>
#else
	<h4>#springMessage("show.no.redirects")</h4>
#end
<h4>#springMessage("show.new.redirect")</h4>

<form method="POST" action="${rootUrl}/redirect/add">
	<label for="name">#springMessage("show.name")</label>
	#springFormInput("command.name" "")
	#springShowErrors("" "")<br>
	<label for="title">#springMessage("show.title")</label>
	#springFormInput("command.title" "id='title' maxlength='${titleMaxLength}'")
	#springShowErrors("" "")<br>
	<label for="url">#springMessage("show.url")</label>
	#springFormInput("command.url" "id='url'")
	#springShowErrors("" "")<br>
	<label for="appendPath">#springMessage("show.appendPath")</label>
	<input type="checkbox" name="appendPath" value="true" id="appendPath"><br>
	<input type="hidden" name="_action" value="act_newredirect">
	<input type="submit" value="#springMessage("button.new.redirect")">
</form>


#chef_portletContentEnd()
#chef_portletContainerEnd()
#chef_end()