@import "base/compass";

//.#{$namespace}
.is-logged-out{
	#content, .#{$namespace}container--footer{
		margin: 0 0 0 0;
		@media #{$phone}{
			margin: 6.5em 0 0 0;
		}
	}
	.#{$namespace}topHeader {
		@media #{$phone}{
			&.moving{
	    		top: -12em;
	    	}
	    }
    }
}

.#{$namespace}portalWrapper {
	position: relative;
}

#pageBody{
	@include align-items(stretch);
	@include display-flex(flex);
	@include flex-direction(row);
	> .#{$namespace}pagebody
	{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
	}
	@media #{$phone}{
		padding: 12px;
	}
}

#content, .#{$namespace}container--footer
{
	display: flex;
	margin: 0 0 0 0;
	width: 100%;

	@media #{$phone}{
		margin: 6.5em 0 0 0;
	}
	
	#col1of2, #col2of2
	{
		flex: 1;
		display: inline-block;
		margin: 0 0 0 1em;
		vertical-align: top;
		width: 46%;
		
		@media #{$phone}
		{
			display: block;
			width: 100%;
		}
	}
	#col2of2
	{
		margin-right: 1em;
	}
}

.#{$namespace}mainContent{
  background: $main-content-background;
}

.#{$namespace}pageColumns--single, .#{$namespace}footer{
	margin: 0;
	clear: both;
	width: 100%;
	
	@media #{$phone}
	{
		margin: 0 0 0 0;
	}
	.#{$namespace}container 
	{
		margin-right: $standard-padding;
		margin-left: $standard-padding;
	}
}
.#{$namespace}container
{
	position: relative;
}

.#{$namespace}container--footer{
	background: $footer-background;
}

.#{$namespace}footer
{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1em;
	font-size: $smaller-font-size;
	color: $footer-color;
	
	a, a:hover, a:active
	{
		color: $footer-color;
	}
	
	#footer-links
	{
		list-style: none;
		margin: -100px 0 0 0;		//OWLTODO: find a better way to do this
		padding: 0 0 0 0;
		//text-align: center;
		
		li
		{
			display: inline-block;
			padding: 0 1em;
			border-right: 1px solid $footer-color;
		}
		
		li:first-child
		{
			padding-left: 0;
		}
		
		li:last-child
		{
			border-right: 0 solid;
		}
	}
	
	.#{$namespace}footer--nav.Mrphs-footer--nav__project 
	{
		align-self: flex-end;
		order: -1;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	
	.#{$namespace}footer--nav__build__panel 
	{
		margin: 0 110px 0 0;			//OWLTODO: making room for logo; need a better way
	}
	
	##{$namespace}footer--nav__project--sakai
	{
		display: block;
		margin: 0;
		text-align: right;
		
		img
		{
			width: 100px;
		}
	}

	.#{$namespace}footer--nav__project--copyright 
	{
		margin: 1em 110px 1em 0;			//OWLTODO: making room for logo; need a better way
	}

	.#{$namespace}footer--nav__project--poweredby
	{
		width: 100px;
	}
	
	.#{$namespace}footer--nav__build__panel 
	{
		margin: 0;
	}
}

.#{$namespace}noJs.js-warn-no-js
{
	position: fixed;
	bottom: 0;
	left: 10%;
	width: 80%;
	padding: 1em;
	z-index: 200;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #c00;
	font-size: 1.143em;
	text-align: center;
	color: #fff;
}
