//.#{$namespace}
body.is-logged-out{
	#toolMenuWrap{
		//top: 0;
		@media #{$phone}{
			//top: $header-size;
		}
	}
	.#{$namespace}mainHeader.is-maximized ~ #container #toolMenuWrap{
		top: $header-size;
	}
}

body.#{$namespace}toolMenu-collapsed{

	#toolMenuWrap{
		max-width: $tool-menu-collapsed-width;
		min-width: $tool-menu-collapsed-width;
		width: $tool-menu-collapsed-width;
	}
	#toolMenu, ul#subSites{
		.img_site_toolmenu{
			display: none;
		}
		ul{
			li{
				a{
					min-height: 1.7em;
					&:hover, &:focus
					{
						.#{$namespace}toolsNav__menuitem--title
						{
							position: absolute;
							display: flex;
							align-items: center;
						//	float: right; 		OWLTODO: needed?
							margin: 0 0 0 -1px;		// to cover the tool menu's border
							background: inherit;
							padding: 1em;
							z-index: 10;
							width: auto;
							border: 1px solid $tool-sub-menu-border-color;
							border-left: 0 none;
							border-radius: 0 5px 5px 0;
							line-height: 2em; 		// OWLTODO: better way for height?
							top: -1px;
							bottom: -1px;
							left: $tool-menu-collapsed-width; // OWLTODO: 2.5em;
						}
					}
					&.is-invisible {
						&:after {
							display: none;
						}
					}
					span.#{$namespace}toolsNav__menuitem--title{
						white-space: pre;
					}
				}
				.#{$namespace}toolsNav__menuitem--title{
					display: none;
				}
				&.#{$namespace}collapseTools{
					i{
						@include transform( scaleX(-1) ); /* flip horizontally */
					}
				}
			}
		}
	}
}

#toolMenuWrap .img_site_toolmenu{
  width: 100%;
  max-width: $tool-menu-width;
  height: auto;
  margin: 0 auto; 
}

#toolMenuWrap{
	#toolMenu {
		position: relative;
	}
	background: $tool-menu-background-color;
	display: block;
	min-width: $tool-menu-width;
	width: $tool-menu-width;
	min-height: 100vh;
	min-height: calc(100vh - #{$header-size});
	@include flex-basis( #{$tool-menu-width} );
	margin: 0;
	border-right: 1px solid $tool-menu-border-color;
	text-align: center;
	@include transition( left 0.25s linear 0s );
	
	@media #{$phone}{
		left: -100%;
		position: fixed;
		top: 5.5em;
		z-index: 9999;
		padding: 0 0 2em 0;
		margin: 0 0 0;
		height: 100%;
		@if $skin-with-icons {
			.#{$namespace}toolsNav__menuitem--title{
				display: none;
			}	
		} @else {
			.#{$namespace}toolsNav__menuitem--title{
				display: inline-block;
				width:   #{$icon-size - 5px };
				height:  $icon-size;
				letter-spacing: 2em;
				padding: 0px 0 0 5px;
				overflow: hidden;
				@include border-radius( $icon-size );
				box-shadow:  0 0 5px rgba( $background-color ,0.5);
			}
		}
	}
	&.openedLinkNav{
		margin: 0 0 0 0;
	}
}

#totoolmenu{
	@media #{$phone}{
		display:none !important;
	}
}

.#{$namespace}toolsNav__title--current-site{
	display: none;
	@media #{$phone}{
		color: $tool-background-color;
		background: darken( $primary-color, 10% );
		display: block;
		font-size: 1.1em;
		width: 100%;
		max-width: 100%;
		text-align: left;
		padding: 12px 16px;
		position: fixed;
		top: 1.8em;
		left: 0;
		z-index: 99;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		box-shadow: inset 0 0 8px rgba( $background-color ,0.15);
		@include transition( top 0.25s linear 0s );
		&.moving{
			top: -3.3em;
		}
	}
}

#subSites{
	background: darken( $tool-menu-background-color, 10% );
	ul{
		list-style: none;
		padding: 0 0 0 0;
	}
}

nav#subSites{
	width: #{$tool-menu-width };
	position: relative;
	z-index: 9999;
	@media #{$desktop}{
		min-width: 7em;
	}
	&.floating{
		min-width: #{$tool-menu-width * 2 };
		max-width: #{$tool-menu-width * 2 };
		margin: 3.4em 0 0 7px;
		transform: translateY(-100%);
		&.ontop{
			ul{
				max-height: 240px;
				overflow: auto;
			}
		}
		&:after{
			right: 100%;
			top: calc(100% - 25px);
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba( darken( $tool-menu-background-color, 10% ) , 0);
			border-right-color: darken( $tool-menu-background-color, 10% );
			border-width: 7px;
			margin-top: -7px;
		}
	}
}

#toolMenu, #subSites{
	ul{
		padding: 0;
		margin: 0;
		
		@media #{$nonPhone}
		{
			margin-bottom: 4em; // space at the bottom of the list to avoid the collapse button overlapping tools
		}
			
		li{
			line-height: 0;
			
			&.#{$namespace}collapseTools
			{
				position: fixed;
				bottom: 0;
				left: 0; // OWLTODO: get rid of this, but fix the width issue
				z-index: 1;
				display:flex;
				align-items:center;
				justify-content:flex-end; /* right-align the arrows when expanded */
				width: calc(#{$tool-menu-width} - 1px); /* width minus 1px border; using variable fix from https://github.com/sass/sass/issues/818 */;
				height:3em;
				padding: 0 1em;
				border-right: 1px solid $tool-menu-background-color;
				cursor:pointer;
				font-size: 1.2em;
				background-color: $tool-tab-background-color;
				box-shadow: 0 -1px 3px rgba(0,0,0,0.3);
			
				&:hover, &:focus
				{
					background: $tool-menu-hover-background-color;
					color: $tool-menu-hover-color;
				}
				&.min
				{
					justify-content:center; /* center the arrows when collapsed */
					width: calc(#{$tool-menu-collapsed-width} - 1px); /* width minus 1px border; using variable fix from https://github.com/sass/sass/issues/818 */;;
				}
				
				i
				{
					@include transition( transform, 0.25s, ease-out, 0s ); /* animate the arrow direction change */
				}
				
				@media #{$phone}{
					display: none;
				}
			}
			@media #{$phone}{
				border-left: 2px solid darken( $tool-menu-background-color, 10% );
				margin: -4px -4px 0px 0; //FIX for inline-block extra space.
				width: calc( 25% - 1px );
			}
			.#{$namespace}toolsNav__menuitem--icon{
				margin: 0;
			}
			a, .#{$namespace}roleSwitch__anchor
			{
				position: relative;
				display: flex;
				align-items: center;
			    min-height: 3.5em;
				padding: 1em;
				border-bottom: 1px solid $tool-sub-menu-border-color;
				font-family: $header-font-family;
				font-weight: $default-font-weight;
				font-size: $smaller-font-size;
			    line-height: 1.25;
				color: $tool-menu-color;
				text-align: left;
				text-decoration: none;
				
				&:before
				{
					content: "";
					display: inline-block;
					// height: 100%;		OWLTODO: needed?
					position: absolute;
					top: -1px;			//cover top border
					bottom: -1px;		//cover bottom border
					left: 0;
					border-left: 4px solid transparent;
				}
				&:hover, &:focus
				{
					background: $tool-menu-hover-background-color;
					color: $tool-menu-hover-color;
					
					&:before
					{
						border-left-color: $tool-menu-color;
					}
				}
				
				@media #{$phone}{
					min-height:  3em;
					overflow: hidden;
				}
				.#{$namespace}toolsNav__menuitem--title{
					display: block;
					width: 100%;
					text-overflow: ellipsis;
					white-space: pre-wrap;
					overflow: hidden;
					margin: 0 0 0 1em; /* space between tool name and icon; matches link padding above */
				}
				&.is-invisible {
					// color: #AAAAAA; 		OWLTODO: do we need to change the colour?
					font-style: italic;
					position: relative;
					&:after {
						@extend .fa-lg;
						@extend .fa;
						content: '\f070';
						position: relative;
					}
				}
			}
			&.is-current{
				background: $tool-menu-current-background-color;
				margin-right: -1px; 	// to overlap the toolMenuWrap's right border to look like a tab

				a{
					// border-left: 4px solid $tool-menu-current-border-color;
					border-bottom: 1px solid $tool-menu-current-border-color;
					color: $tool-menu-current-color;
					
					.#{$namespace}toolsNav__menuitem--title{
						font-weight: 700;
					}
					&:before
					{
						border-left-color: $primary-color;
					}
					&:hover, &:focus
					{
						background: $tool-menu-current-background-color;
						color: $tool-menu-current-color;
						
						&:before
						{
							border-left-color: $tool-menu-current-border-color;
						}
					}
					
					@media #{$phone}{
						border: 1px solid $tool-menu-current-border-color;
						border-left: 1px solid $tool-menu-current-border-color;
					}
				}
			}
			.#{$namespace}toolsNav__subnav{
				padding: 0 0 0 0;
				li{
					border-bottom: 1px solid $tool-sub-menu-border-color;
					a{
			  			padding: 0.6em 0 0.6em 0em;
						background: $tool-sub-menu-background-color;
						&:hover{
							background: $tool-sub-menu-hover-background-color;
							color: $tool-sub-menu-hover-color;
						}
						@media #{$phone}{
							padding: 0.6em 0.6em;
						}
					}
					&.is-current{
						a{
							background: $tool-sub-menu-current-background-color;
							color: $tool-sub-menu-current-color;
							.#{$namespace}toolsNav__menuitem--title{
								font-weight: 700;
							}
							&:hover{
								background: $tool-sub-menu-current-hover-background-color;
								color: $tool-sub-menu-current-hover-color;
							}
						}
					}
				}
			}
			.#{$namespace}toolsNav__category {
				background-color: darken( $tool-sub-menu-background-color, 5% );
				@media #{$phone}{
					display: none;
				}
			}
		}
	}

	#roleSwitchSelect 
	{
		max-width: calc(#{$tool-menu-width} - 50px);		// subtracting room for padding, margin, and icon - using variable fix from https://github.com/sass/sass/issues/818
		margin: 0 1em;
	}
}
