<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee  
                  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>Course Signup</display-name>

	<listener>
		<listener-class>org.sakaiproject.util.ContextLoaderListener</listener-class>
	</listener>
	<!--
		Use the Sakai Spring application context wrapper to reach components.
	--> 
	<listener>
		<listener-class>org.sakaiproject.util.ToolListener</listener-class>
	</listener>
	<filter>
		<filter-name>sakai.request</filter-name>
		<filter-class>uk.ac.ox.oucs.vle.StreamRequestFilter</filter-class>
		<init-param>
			<param-name>upload.enabled</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param><!-- This stops the filter from trying to detect/put the placement from/in the url. -->
			<param-name>tool.placement</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<!--  
	<filter>
		<filter-name>require.authentication</filter-name>
		<filter-class>uk.ac.ox.oucs.vle.AuthenticatedRequestFilter</filter-class>
	</filter>
	-->

	<filter-mapping>
		<filter-name>sakai.request</filter-name>
		<servlet-name>course.signup</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>

	<filter-mapping>
		<filter-name>sakai.request</filter-name>
		<servlet-name>Jersey Web Application</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	<!--  
	<filter-mapping>
		<filter-name>require.authentication</filter-name>
		<servlet-name>Jersey Web Application</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	-->
	<filter>
		<filter-name>hibernate-session</filter-name>
		<filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
		<init-param>
			<param-name>singleSession</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>sessionFactoryBeanName</param-name>
			<param-value>org.sakaiproject.springframework.orm.hibernate.GlobalSessionFactory</param-value>
		</init-param>
	</filter>
	
	<filter-mapping>
		<filter-name>hibernate-session</filter-name>
		<servlet-name>Jersey Web Application</servlet-name>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
	</filter-mapping>
	
	<!-- Application class name -->
	<servlet>
		<servlet-name>Jersey Web Application</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>uk.ac.ox.oucs.vle</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet>
		<servlet-name>course.signup</servlet-name>
		<servlet-class>uk.ac.cam.caret.sakai.WebappToolServlet</servlet-class>
		<init-param>
			<param-name>main-page</param-name>
			<param-value>/static/index.jsp</param-value>
		</init-param>
		<init-param>
			<param-name>tool-native-url</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<!--  So we can access the static content. -->
		<servlet-name>Jersey Web Application</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
</web-app>