<?xml version="1.0" encoding="UTF-8"?>
<web-app id="sakai-feeds" version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>Sir Louie</display-name>
	<description>Sir Louie Project</description>
	
	<context-param>
    	<param-name>webresourceURL</param-name>
    	<param-value>http://localhost:1701/PrimoWebServices/xservice/getit</param-value>
    	<param-type>java.lang.String</param-type>
  	</context-param>
  		
	<servlet>
  		<servlet-name>Jersey REST Service</servlet-name>
		<servlet-class>
			  com.sun.jersey.spi.container.servlet.ServletContainer
		</servlet-class>
  		<init-param>
    		<param-name>com.sun.jersey.config.property.packages</param-name>
    		<param-value>uk.ac.ox.oucs.sirlouie</param-value>
    	</init-param>
    	<init-param>	
    		<param-name>ConfigClass</param-name>
    		<param-value>uk.ac.ox.oucs.sirlouie.properties.SakaiProperties</param-value>
    	
  		</init-param>
  		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
  		<servlet-name>Jersey REST Service</servlet-name>
  		<url-pattern>/*</url-pattern>
	</servlet-mapping> 
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>        	  	  	 	

</web-app>
