ul.jqueryFileTree {
  font-family: Verdana, sans-serif;
  font-size: 11px;
  line-height: 18px;
  padding: 0px;
  margin: 0px;
}

ul.jqueryFileTree li {
  list-style: none;
  padding: 0px;
  padding-left: 23px;
  margin: 0px;
  white-space: nowrap;
  background-position: 3px 3px;
  background-repeat: no-repeat;
  position: relative;
}

ul.jqueryFileTree a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 3px;
  overflow: hidden;
}

ul.jqueryFileTree a:hover {
  background: #BDF;
}

/* folder-listing */
.jqueryFileTree li a .name {
  display: block;
  float: left;
}
.jqueryFileTree li a .icons {
  display: block;
  float: left;
  overflow: hidden;
}
.jqueryFileTree li a .icons span {
  display: block;
  float: left;
  overflow: hidden;
  height: 16px;
  width: 16px;
  padding: 0;
  border: 0px;
  margin: 2px;
  text-align: center;
  line-height: 16px;
}
.jqueryFileTree li a .icons .files {
  width: auto;
}

.jqueryFileTree .copyright {

}
.jqueryFileTree li a .icons .description {
  display: block;
  float: left;
  height: 16px;
  width: 16px;
  background: transparent url('/library/image/silk/information.png') no-repeat left top;
}

.jqueryFileTree .tooltips div {
  position: absolute;
  top: 28px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 3px;
  border-radius: 3px;
  z-index: 4;
}

/* Core Styles */
.jqueryFileTree li.directory {
  background-image: url(../images/directory.png);
}
.jqueryFileTree li.expanded  {
  background-image: url(../images/folder_open.png);
}
.jqueryFileTree li.file  {
  background-image: url(../images/file.png);
}
.jqueryFileTree li.wait  {
  background-image: url(../images/spinner.gif);
}
.jqueryFileTree li.active > a {
  font-weight: bold !important;
}
.jqueryFileTree li.active  {
  background-color: #ffeca3;
}

/* File Extensions*/
.jqueryFileTree li.ext_3gp  {
  background-image: url(../images/film.png);
}
.jqueryFileTree li.ext_afp  {
  background-image: url(../images/code.png);
}
.jqueryFileTree li.ext_afpa  {
  background-image: url(../images/code.png);
}
.jqueryFileTree li.ext_asp  {
  background-image: url(../images/code.png);
}
.jqueryFileTree li.ext_aspx  {
  background-image: url(../images/code.png);
}
.jqueryFileTree li.ext_avi  {
  background-image: url(../images/film.png);
}
.jqueryFileTree li.ext_bat  {
  background-image: url(../images/application.png);
}
.jqueryFileTree li.ext_bmp  {
  background-image: url(../images/picture.png);
}
.jqueryFileTree li.ext_c  {
  background-image: url(../images/code.png);
}
.jqueryFileTree li.ext_cfm  {
  background-image: url(../images/code.png);
}
.jqueryFileTree li.ext_cgi  {
  background-image: url(../images/code.png);
}
.jqueryFileTree li.ext_com  {
  background-image: url(../images/application.png);
}
.jqueryFileTree li.ext_cpp  {
  background-image: url(../images/code.png);
}
.jqueryFileTree li.ext_css  {
  background-image: url(../images/css.png);
}
.jqueryFileTree li.ext_doc  {
  background-image: url(../images/doc.png);
}
.jqueryFileTree li.ext_exe  {
  background-image: url(../images/application.png);
}
.jqueryFileTree li.ext_gif  {
  background-image: url(../images/picture.png);
}
.jqueryFileTree li.ext_fla  {
  background-image: url(../images/flash.png);
}
.jqueryFileTree li.ext_h  {
  background-image: url(../images/code.png);
}
.jqueryFileTree li.ext_htm  {
  background-image: url(../images/html.png);
}
.jqueryFileTree li.ext_html  {
  background-image: url(../images/html.png);
}
.jqueryFileTree li.ext_jar  {
  background-image: url(../images/java.png);
}
.jqueryFileTree li.ext_jpg  {
  background-image: url(../images/picture.png);
}
.jqueryFileTree li.ext_jpeg  {
  background-image: url(../images/picture.png);
}
.jqueryFileTree li.ext_js  {
  background-image: url(../images/script.png);
}
.jqueryFileTree li.ext_lasso  {
  background-image: url(../images/code.png);
}
.jqueryFileTree li.ext_log  {
  background-image: url(../images/txt.png);
}
.jqueryFileTree li.ext_m4p  {
  background-image: url(../images/music.png);
}
.jqueryFileTree li.ext_mov  {
  background-image: url(../images/film.png);
}
.jqueryFileTree li.ext_mp3  {
  background-image: url(../images/music.png);
}
.jqueryFileTree li.ext_mp4  {
  background-image: url(../images/film.png);
}
.jqueryFileTree li.ext_mpg  {
  background-image: url(../images/film.png);
}
.jqueryFileTree li.ext_mpeg  {
  background-image: url(../images/film.png);
}
.jqueryFileTree li.ext_ogg  {
  background-image: url(../images/music.png);
}
.jqueryFileTree li.ext_pcx  {
  background-image: url(../images/picture.png);
}
.jqueryFileTree li.ext_pdf  {
  background-image: url(../images/pdf.png);
}
.jqueryFileTree li.ext_php  {
  background-image: url(../images/php.png);
}
.jqueryFileTree li.ext_png  {
  background-image: url(../images/picture.png);
}
.jqueryFileTree li.ext_ppt  {
  background-image: url(../images/ppt.png);
}
.jqueryFileTree li.ext_psd  {
  background-image: url(../images/psd.png);
}
.jqueryFileTree li.ext_pl  {
  background-image: url(../images/script.png);
}
.jqueryFileTree li.ext_py  {
  background-image: url(../images/script.png);
}
.jqueryFileTree li.ext_rb  {
  background-image: url(../images/ruby.png);
}
.jqueryFileTree li.ext_rbx  {
  background-image: url(../images/ruby.png);
}
.jqueryFileTree li.ext_rhtml  {
  background-image: url(../images/ruby.png);
}
.jqueryFileTree li.ext_rpm  {
  background-image: url(../images/linux.png);
}
.jqueryFileTree li.ext_ruby  {
  background-image: url(../images/ruby.png);
}
.jqueryFileTree li.ext_sql  {
  background-image: url(../images/db.png);
}
.jqueryFileTree li.ext_swf  {
  background-image: url(../images/flash.png);
}
.jqueryFileTree li.ext_tif  {
  background-image: url(../images/picture.png);
}
.jqueryFileTree li.ext_tiff  {
  background-image: url(../images/picture.png);
}
.jqueryFileTree li.ext_txt  {
  background-image: url(../images/txt.png);
}
.jqueryFileTree li.ext_vb  {
  background-image: url(../images/code.png);
}
.jqueryFileTree li.ext_wav  {
  background-image: url(../images/music.png);
}
.jqueryFileTree li.ext_wmv  {
  background-image: url(../images/film.png);
}
.jqueryFileTree li.ext_xls  {
  background-image: url(../images/xls.png);
}
.jqueryFileTree li.ext_xml  {
  background-image: url(../images/code.png);
}
.jqueryFileTree li.ext_zip  {
  background-image: url(../images/zip.png);
}
