/* **************************************************************** *
 *                      OWL Final Grades Constants                  *
 * **************************************************************** */

/* CSS Variables */
:root
{
	--owl-fg-colour-success: #35795A;
	--owl-fg-colour-error: #cc0000;
	--owl-fg-colour-grade-saving: #F6ECB7;
	--owl-fg-colour-grade-saving-icon: #dfc01c;
	--owl-fg-colour-grade-save-success: #dff0d8 !important;
	--owl-fg-colour-grade-save-success-icon: green !important;
	--owl-fg-colour-grade-save-error: #ffbbbb !important;
	--owl-fg-colour-grade-save-over-limit: #fcf8e3 !important;
	--owl-fg-colour-grade-save-over-limit-icon: rgb(200,144,0);

	--owl-fg-icon-success: "\f058";
	--owl-fg-icon-error: "\f057";
	--owl-fg-icon-saving: "\f0c7";
	--owl-fg-icon-saved: "\f05d" !important;
	--owl-fg-icon-save-error: "\f06a";
	--owl-fg-icon-save-over-limit: "\f0fe";
}

