/* Use the Oxford blue and no gradient on the banner. Save Sakai colour as we use it. */
$orig-primary-color: #2a94c0;
$primary-color: #002147;

$logo: '/library/skin/morpheus-default/images/ox/logo-white-height-30.png';
$logo-height: 30px;
$logo-width: 132px;

$col1of2-width: 66%;
$col2of2-width: 31%;

$header-gradient-a: $primary-color;
$header-gradient-b: $primary-color;
$header-gradient-c: $primary-color;
$header-gradient-d: $primary-color;

$breadcrumbs-color:			 #FFF;
$breadcrumbs-tool-color:     $breadcrumbs-color;
$breadcrumbs-hover-color:	 $breadcrumbs-color;

$link-color: $primary-color;
$link-active-color: $primary-color;
$link-hover-color: $primary-color;

$button-text-color:	 #777;
$button-border-color: #C0C0C0;
$button-background-color: #F0F0F0;
$button-background-secondary-color: #FFF;
/* General button colors */
$button-color-text-color: #FFF;
$button-color-border-color: $primary-color;
$button-color-background-color: $primary-color;
$button-color-background-secondary-color: #2a94c0;
