@import "font-awesome";
@import "base/extendables";

/* Use the original Sakai blue when hovering. */
.#{$namespace}loginNav a:hover{
    color: lighten($orig-primary-color, 35%);
}

##{$namespace}xlogin .xloginMessage{
    padding: 0.9em;
    text-align: center;
}

/* Override the hover styles as background is now dark. */
.#{$namespace}breadCrumbs--title:hover{
    color: $breadcrumbs-hover-color;
    border-bottom: 1px solid $breadcrumbs-hover-color;
}

/* Override the Sakai cookie link text colour.*/
#cookie-notice {
    a {
        color: lighten($orig-primary-color, 35%);
    }
}

/* Revert back to Sakai pale blue colour for headings. */
.instruction{
    @include bs-callout($orig-primary-color, lighten($orig-primary-color, 45%));
}
.bs-callout-primary, .bs-callout-info, .messageInformation, .messageInstruction, .messageProgress {
    @include bs-callout($orig-primary-color, lighten($orig-primary-color, 45%));
}

/* Change the separator colour as the banner is now dark. */
.#{$namespace}hierarchy--separator, .#{$namespace}hierarchy--siteNameSeparator{
    color: $breadcrumbs-color;
}

/* Tweek of the margins necessary for our logo to be centred. */
.#{$namespace}mainHeader .#{$namespace}headerLogo .#{$namespace}headerLogo--institution{
    margin-top: 0.5em;
    @media #{$phone}{
        margin: 0.6em 0 0 0.2em;
    }
}

/* Prevent capitalization of the tool name in the breadcrumb bar. */
.#{$namespace}siteHierarchy a.#{$namespace}hierarchy--toolName {
    text-transform: none;
}

/* WL only has project sites, not course sites so modify display
   so that we have two columns in the sites pop-up, not just one. */
#otherSitesCategorWrap .moresites-right-col {
    width: 100%;
    .fav-sites-term:first-child {
        float: left;
        margin-right: 1em;
        .favorites-term-header {
            /* The header is PROJECTS, we don't want to show this
               so shift off screen. */
            text-indent: -100%;
            white-space: nowrap;
            overflow: hidden;
            @media #{$phone}{
                display: none;
            }
        }
    }
    .fav-sites-term:nth-child(2) {
        display: inline-block;
        width: 49%;
        margin-top: 0;
        .favorites-term-header {
            margin-top: 0;
        }
    }
    .fav-sites-term:nth-child(3) {
        display: inline-block;
        .favorites-term-header{
            margin-top: 0;
            margin-bottom: 0.4em;
        }
    }
}

/* Collapse the table cell borders so that ajoining cells don't have a double border .*/
.#{$namespace}sakai-schedule {
    table.calendar {
        border-collapse: collapse;

        /* Use the Oxford blue for calendar events. */
        .event, .bgActivity, .borderGrayBackground, .borderGrayTodayBgCenter,
        .borderOnlyLeftDay, .borderTodayWithActivity, .borderTopLeft, .borderWhiteYear {
            background-color: $primary-color;
        }
    }
}

/* Make quick links ReflectOn icon green to match ReflectOn logo. */
.Mrphs-quickLinksNav__submenuitem .fa-pencil-square {
    color: green;
}

/* Extra icon mappings specific to WL. */
@if $skin-with-icons {
    /* This selector is required as some local tools don't start with 'icon-sakai-'. */
    [class*="icon-shoal-search"],
    [class*="icon-shoal-edit"],
    [class*="icon-course-signup"],
    [class*="icon-oxford-podcasts"]{
        @extend .fa-lg;
        @extend .fa;
    }
    .icon-course-signup {                    @extend .fa-graduation-cap;}
    .icon-shoal-search {                     @extend .fa-search;}
    .icon-shoal-edit {                       @extend .fa-pencil;}
    .icon-sakai-rsf-evaluation{              @extend .fa-commenting;}
    .icon-sakai-mneme{                       @extend .fa-check-square-o;}
    .icon-sakai-oauth {                      @extend .fa-key;}
    .icon-sakai-devolvedadmin {              @extend .fa-sitemap;}
    .icon-sakai-sub-site {                   @extend .fa-sitemap;}
    .icon-sakai-redirect {                   @extend .fa-link;}
    .icon-sakai-hierarchy-new-site {         @extend .fa-plus;}
    .icon-sakai-hierarchy-bring-site {       @extend .fa-arrow-left;}
    .icon-sakai-hierarchy-delete-site {      @extend .fa-remove;}
    .icon-sakai-hierarchy-move-site {        @extend .fa-scissors;}
    .icon-sakai-hierarchy-paste-site {       @extend .fa-paste;}
    .icon-sakai-hierarchy-replace-site {     @extend .fa-copy;}
    .icon-sakai-hierarchy-redirect-site {    @extend .fa-link;}
    .icon-sakai-oxam-search-simple{          @extend .fa-search;}
    .icon-sakai-oxam-search-adv{             @extend .fa-mortar-board;}
    .icon-sakai-oxam-browse{                 @extend .fa-binoculars;}
    .icon-sakai-oxam-admin{                  @extend .fa-gears;}
    .icon-oxford-podcasts {                  @extend .fa-volume-up;}
}