<!-- $Id$ -->
<!-- start:  chef_assignments_instructor_preview_grading_submission.vm -->
##<!-- $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/assignment/chef_assignments_instructor_preview_grading_submission.vm,v 1.5 2005/05/16 02:26:05 zqian.umich.edu Exp $ -->
<div class="portletBody">
	#navBarHREF( $allowAddAssignment $withGrade $allowGradeSubmission $allowAddAssignment $allowAllGroups $assignmentscheck $allowUpdateSite $enableViewOption $view "" )
		<h3>$tlang.getString("gen.pre") $tlang.getString("gen.instrcomment") 	$tlang.getString("gen.to") 				$tlang.getString("gen.openquote")$validator.escapeHtml($assignment.title)$tlang.getString("gen.closequote")</h3>
		#if ($alertMessage)<div class="alertMessage">$tlang.getString("gen.alert") $alertMessage</div><div class="clear"></div>#end		
		<form id="previewGradeSubmissionForm" action="#toolForm("AssignmentAction")" method="post" >
			<table class="itemSummary">
				<tr>
					<th>
						$tlang.getString("gen.student")
					</th>
					<td>
						#set ($submitterNames = "")
						## start with recorded submitter id first
						#set ($count = 1)
						#foreach ($userId in $submission.SubmitterIds)
							#if ($count > 1)
								#set ($submitterNames = $submitterNames.concat(", "))
							#end
							#set ($submitterNames = $submitterNames.concat($!userId))
							#set ($count = $count + 1)
						#end
						## replace it with submitter sort names
						#set ($count = 1)
						#foreach ($submitter in $submission.submitters)
							#set($submitterName = $submitter.getSortName())
							#if ($!submitterName)
								#if ($count == 1)
									#set ($submitterNames = $!submitterName)
								#else
									#set ($submitterNames = $submitterNames.concat(", ").concat($!submitterName))
								#end
							#end
							#set ($count = $count + 1)
						#end
						
						## SAK-17606
						#set($anonymousSubmissionId = $submission.getAnonymousSubmissionId())
						#if ($value_CheckAnonymousGrading.equals("true"))
							$anonymousSubmissionId
						#else
							$validator.escapeHtml($!submitterNames)
						#end

					</td>
				</tr>
				#if ($!submissionType != 4)
					## exclude non-electronic type of submission
					<tr>
						<th>
							$tlang.getString("gen.subm5") 
						</th>
						<td>
							## get submission time
							#set($timeSubmitted=false)
							#set($timeSubmitted=$submission.TimeSubmitted)
							#if ($!timeSubmitted)
								$!timeSubmitted.toStringLocalFull()
							#end
							#if ($!timeSubmitted && $timeSubmitted.after($assignment.DueTime))
								<span class="highlight">$tlang.getString("gen.late2")</span>
							#end
						</td>
					</tr>
				#end
				<tr>
					<th>
						$tlang.getString("gen.status") 
					</th>
					<td>
						#if ($!grade && $grade.length()>0 && $grade!="ungraded")
							$tlang.getString("gen.gra")
						#else
							$tlang.getString("ungra")
						#end
					</td>
				</tr>
				#if ($allowReviewService && $assignment.getContent().AllowReviewService)
					<tr>
					<th>
						$reviewServiceName&nbsp;$tlang.getString("review.report")
					</th>
					<td>
						#set($reviewResults=$submission.ContentReviewResults)
						#if ($reviewResults.size() >= 3)
							<div class="discTria">
								<input class="disclosureTriangle" type="image" onclick="ASN.handleReportsTriangleDisclosure(this, this.parentNode.parentNode.children[1]); return false;" src="/library/image/sakai/expand.gif" alt="$tlang.getString('review.report.expand')"/>
								$reviewResults.size() $tlang.getString("review.reports")
							</div>
							<div id="reportsDiv" style="display:none;">
						#end
						#foreach ($reviewResult in $reviewResults)
							<div>
								#set ($props = $reviewResult.getContentResource().Properties)
								<span class="reportIcon">
									#if ($reviewResult.getReviewReport().equals("Error"))
										<img src="/library/skin/images/error.png" alt="$reviewResult.getReviewError()" title="$reviewResult.getReviewError()">
									#elseif ($reviewResult.getReviewReport().equals("Pending"))
										<i alt="$reviewResult.getReviewError()" title="$reviewResult.getReviewError()" class="fa fa-clock-o"></i>
									#else
										<a href="$reviewResult.getReviewReport()" target="_blank" rel="noreferrer">
											<img src="$reviewResult.getReviewIconURL()" alt="$reviewResult.getReviewScore()" title="$reviewResult.getReviewScore()">
										</a>
									#end
								</span>
								#if ($reviewResult.isInline())
									$tlang.getString("submission.inline")
								#else
									$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))
								#end
								#if($reviewResult.getExternalGrade() && $assignment.getContent().AllowStudentViewExternalGrade)
									<span style="font-style:italic !important">
										($tlang.getString("gen.gra.ext") $reviewResult.getExternalGrade() / $maxPointsInt)
									</span>
								#end
							</div>
						#end
						#if ($reviewResults.size() >= 3)
							</div>
						#end
					</td>
				#end
			</table>
			<h4>
				$tlang.getString("gen.instr")
			</h4>	
			#if ($assignment.getContent().getInstructions().length()>0)
				<div class="textPanel">$validator.escapeHtmlFormattedText($assignment.getContent().getInstructions())</div>
			#else
			#end

			#set ($size = 0)
			#set ($props = false)
			#foreach ($attachment in $assignment.getContent().Attachments) 
				#set ($props = $attachment.Properties) 
				#if ($!props)
					#set ($size = $size + 1)
				#end
			#end
			#if ($size == 0)
			#else
				<h4>
					$tlang.getString("gen.addres2")
				</h4>
				<ul class="attachList indnt1">
					#foreach ($attachment in $assignment.getContent().Attachments) 
						#set ($props = false)
						#set ($props = $attachment.Properties) 
						#if ($!props)
							<li>
								#if ($props.getBooleanProperty($props.NamePropIsCollection))
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
								#else
									<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
								#end
								<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
								#propertyDetails($props)
							</li>
						#end
					#end
				</ul>
			#end	
			#if ($!feedback_text.length()>0)
				<h4>
					$tlang.getString("gen.orisub2")
				</h4>
				<div class="textPanel">$cheffeedbackhelper.escapeAssignmentFeedback($feedback_text)</div>
			 #end
			#set ($size = 0)
			#set ($props = false)
			#foreach ($attachment in $submission.SubmittedAttachments) 
				#set ($props = $attachment.Properties) 
				#if ($!props)
					#set ($size = $size + 1)
				#end
			#end
			#if ($size == 0)
			#else
				#set ($attachAllowed = $submissionType != 1 && $submissionType != 4)
				#if ($attachAllowed || $size != 0) ##do not show attach messages if no attach are allowed unless an attach is present anyway.
					<h3>
						#if ($submissionType == 5)
							$tlang.getString("gen.stuatt.single")
						#else
							$tlang.getString("gen.stuatt")
						#end
					</h3>
				#end
				#if ($size == 0 && $attachAllowed)
					## only display in submission types that are supposed to have attachments
					<p class="text-warning">
						#if ($submissionType == 5)
							$tlang.getString("gen.noattsubmitted.single")
						#else
							$tlang.getString("gen.noattsubmitted")
						#end
					</p>
				#elseif ($size != 0)
					## There are attachments. We don't care which submission type it really is, they need to be displayed
					<ul class="attachList idnt1">
						#foreach ($attachment in $submission.VisibleSubmittedAttachments)
							#set ($props = false)
							#set ($props = $attachment.Properties)
							#if ($!props)
								<li>
									#if ($props.getBooleanProperty($props.NamePropIsCollection))
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
									#else
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
									#end
									<a href="$attachment.Url" target="_blank" rel="noreferrer">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>
									#propertyDetails($props)
								</li>
							#end
						#end
					</ul>
				#end
			#end	
			#if ($!feedback_comment.length()>0)
				<h4>$tlang.getString("gen.sumcom")</h4>	
				<div class="textPanel">$validator.escapeHtmlFormattedText($feedback_comment)</div>
			#else
			#end
				#set ($size = 0)
				#set ($props = false)
				#foreach ($attachment in $feedback_attachment) 
					#set ($props = $attachment.Properties) 
					#if ($!props)
						#set ($size = $size + 1)
					#end
				#end
				#if ($size == 0)
				#else
					<h4>$tlang.getString("gen.attfprgra")</h4>
					<ul class="attachList indnt1">
						#foreach ($attachment in $feedback_attachment) 
							#set ($props = false)
							#set ($props = $attachment.Properties) 
							#if ($!props)
								<li>
									#if ($props.getBooleanProperty($props.NamePropIsCollection))
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage("folder"))" border="0" alt="$tlang.getString("gen.folatt")" />
									#else
										<img src = "#imageLink($contentTypeImageService.getContentTypeImage($props.getProperty($props.NamePropContentType)))" border="0" alt="$tlang.getString("gen.filatt")" />
									#end
									<a href="$attachment.Url" target="_blank">$validator.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))</a>						
									#propertyDetails($props)
								</li>
							#end
						#end
					</ul>
				#end	
			<div class="highlightPanel">
				$tlang.getString("gen.gra2")
				#set ($gradeType = $assignment.getContent().TypeOfGrade)
				#if ($gradeType == 1)
					<span class="highlight"> $tlang.getString("gen.nograd")</span>	
				#elseif ($!grade && $grade.length()>0)
					$grade
					
				<!--for grading via an external scoring service, if enabled for an associated gradebook item -->
				#if($scoringComponentEnabled)
					#parse ("/vm/assignment/chef_assignments_scoring_agent.vm")	
				#end
			        
				#else
					$tlang.getString("ungra")
				#end
			</div>
			<br />
			#if ($!submissionType != 4)
				<p>
					$tlang.getString("allow.resubmit.number"): $!allowResubmitNumber
				</p>
				#if ($!allowResubmitCloseTime)
					<p>
						$tlang.getString("gen.acesubunt"): $!allowResubmitCloseTime
					</p>
				#end
			#end
			<p class="act">
				## SAK-29314
				<input accesskey="d" onclick="SPNR.disableControlsAndSpin( this, null );" name="eventSubmit_doSave_preview_grade_submission" type="submit" value="$tlang.getString("gen.savdragra")" title="$tlang.getString("gen.savdratit")" class="active" />
				<input accesskey="s" onclick="SPNR.disableControlsAndSpin( this, null );" name="eventSubmit_doReturn_preview_grade_submission" type="submit" value="$tlang.getString("gen.retustud")" title="$tlang.getString("gen.retustudtit")" />
				<input accesskey="r" onclick="SPNR.disableControlsAndSpin( this, null );" name="eventSubmit_doCancel_preview_grade_submission" type="submit" value="$tlang.getString("gen.revi")" />
				<input accesskey="x" onclick="SPNR.disableControlsAndSpin( this, null );" name="eventSubmit_doCancel_preview_to_list_submission" type="submit" value="$tlang.getString("gen.can")" />
			</p>
			<input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token" />
		</form>
</div>
<!-- end:  chef_assignments_instructor_preview_grading_submission.vm -->
