<!-- start:  chef_assignments_student_view_submission_confirmation.vm  -->
<div class="portletBody">
    <div class="page-header">
        <h1>
            #if ($!assignment.IsGroup)
                $tlang.getString('gen.group')
            #end
            #if ($!submission.Submitted)
                $tlang.getString('confirm.submission.title')
            #else
                $tlang.getString('confirm.savesubmission.title')
            #end
        </h1>
    </div>
    #if (!$!allowAddAssignment)
        #progressBar($!service.getProgressBarStatus($!submission))
    #end
    <div class="sak-banner-success">
        #if ($!submission.Submitted)
            $tlang.getString('confirm.submission.success')
        #else
            $tlang.getString('confirm.savesubmission.success')
        #end
    #if ($!email_confirmation && $!submission.Submitted)
        #if ($!user_email)
            $tlang.getString('confirm.submission.email')
        #end
    #end
    </div>
    #if ($!email_confirmation && $!submission.Submitted)
        #if (!$!user_email)
            ## no email could be sent due to the missing recipent email address
            <p class="sak-banner-error">$tlang.getString('confirm.submission.email.noEmailAddress')</p>
        #end
    #end
    <form name="addSubmissionForm" action="#toolForm($action)" method="post" onsubmit="return true;">
        <div class="itemSummary container-fluid">
            ## user
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <div class="itemSummaryHeader">$tlang.getString('confirm.submission.label.user')</div>
                </div>
                <div class="col-md-10 col-sm-12">
                    <div class="itemSummaryValue">$formattedText.escapeHtml($!user_name) #if($!user_id)($!user_id)#end</div>
                </div>
            </div>

            #if ($!assignment.IsGroup)
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="itemSummaryHeader">$tlang.getString('gen.group')</div>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="itemSummaryValue">
                            #set($aGroup = $!site.getGroup($submission.GroupId))
                            #if ($aGroup)
                                $aGroup.Title
                            #else
                                $tlang.getString('group.submission.not.found')
                            #end
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="itemSummaryHeader">$tlang.getString('gen.students')</div>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="itemSummaryValue">$!submitterNames</div>
                    </div>
                </div>
            #end

            ## site
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <div class="itemSummaryHeader">$tlang.getString('confirm.submission.label.classsite')</div>
                </div>
                <div class="col-md-10 col-sm-12">
                    <div class="itemSummaryValue">$formattedText.escapeHtml($!site_title)</div>
                </div>
            </div>

            ## assignment title
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <div class="itemSummaryHeader">$tlang.getString('assignment.title')</div>
                </div>
                <div class="col-md-10 col-sm-12">
                    <div class="itemSummaryValue">
                        #assignmentTitleIcon($assignment)
                        $formattedText.escapeHtml($!assignment.Title)
                    </div>
                </div>
            </div>

            ## submission id
            <div class="row">
                <div class="col-md-2 col-sm-12">
                    <div class="itemSummaryHeader">
                        #if ($!submission.Submitted)
                            $tlang.getString('submission.id')
                        #else
                            $tlang.getString('confirm.savesubmission.label.submission.id')
                        #end
                    </div>
                </div>
                <div class="col-md-10 col-sm-12">
                    <div class="itemSummaryValue">$!submission.Id</div>
                </div>
            </div>

            #if ($!submission.Submitted)
            ## submit time
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="itemSummaryHeader">$tlang.getString('noti.submit.time')</div>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="itemSummaryValue">
                            $!service.getUsersLocalDateTimeString($!submission.DateSubmitted)
                            #if ($!submission.DateSubmitted && $submission.DateSubmitted.isAfter($assignment.DueDate))
                                <span class="highlight">$tlang.getString("gen.late2")</span>
                            #end
                        </div>
                    </div>
                </div>
            #end

            ## Submission Log
            #if ($!submissionLog && !$!submissionLog.isEmpty())
                <div class="row">
                    <div class="col-md-2 col-sm-12">
                        <div class="itemSummaryHeader">$tlang.getString('gen.history')</div>
                    </div>
                    <div class="col-md-10 col-sm-12">
                        <div class="itemSummaryValue">
                            <ul>
                            #foreach ($message in $submissionLog)
                                <li>$message</li>
                            #end
                            </ul>
                        </div>
                    </div>
                </div>
            #end
        </div>
        <h2>
            #if ($!submission.Submitted)
                $tlang.getString('confirm.submission.include')
            #else
                $tlang.getString('confirm.savesubmission.include')
            #end
        </h2>
        ## only show the following section if text submission is allowed
        #if (!$!attachmentSubmissionOnly)
        ## submission text
            #if ($!submit_text)
                <div class="textPanel">$!submit_text</div>
            #else
                <p class="instruction">
                    #if ($!submission.Submitted)
                        $tlang.getString('confirm.submission.notext')
                    #else
                        $tlang.getString('confirm.savesubmission.notext')
                    #end
                </p>
            #end
        #end
        ## only show the following if attachment submission is allowed
        #if (!$textSubmissionOnly)
            <h3>
                #if ($!submission.Submitted)
                    #if ($!assignment.SubmissionType.ordinal() == 5)
                        $tlang.getString("gen.stuatt.single")
                    #else
                        $tlang.getString("gen.stuatt")
                    #end
                #else
                    $tlang.getString('confirm.savesubmission.attachments')
                #end
            </h3>

            ## Submission attachments
            #set ($attachments = $submission.Attachments)
            #if ($attachments)
                #set ($size = $submissionAttachmentReferences.size())
                #if ($size < 1)
                    #if ($!assignment.SubmissionType.ordinal() == 5)
                        $tlang.getString("gen.noatt.single")
                    #else
                        $tlang.getString("gen.noatt")
                    #end
                #else
                    <ul class="attachList">
                        #foreach ($attachmentReference in $attachments)
                            #set ($reference = false)
                            #set ($reference = $submissionAttachmentReferences.get($attachmentReference))
                            #if ($reference)
                                #set ($props = false)
                                #set ($props = $reference.Properties)
                                #if ($!props)
                                    <li>$formattedText.escapeHtml($props.getPropertyFormatted($props.NamePropDisplayName))
                                        #propertyDetails($props)
                                    </li>
                                #end
                            #end
                        #end
                    </ul>
                #end
            #end
        #end

        #if (!$!linkInvoked)
            <p class="act">
                <input type="submit" accesskey="x" name="eventSubmit_doConfirm_assignment_submission"
                       value="$tlang.getString('gen.backtolist')" class="active"
                       onclick="SPNR.disableControlsAndSpin( this, null );"/>
            </p>
        #end
        <input type="hidden" name="sakai_csrf_token" value="$sakai_csrf_token"/>
    </form>
</div>
<!-- end:  chef_assignments_student_view_submission_confirmation.vm  -->
